<a href="https://colab.research.google.com/github/armandossrecife/teste/blob/main/ap20242l1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Ler os dados das listas

In [1]:
with open('lista1.txt', mode='r') as f1:
    lista1 = f1.read().splitlines()
with open('lista2.txt', mode='r') as f2:
    lista2 = f2.read().splitlines()
with open('lista3.txt', mode='r') as f3:
    lista3 = f3.read().splitlines()
with open('lista4.txt', mode='r') as f4:
    lista4 = f4.read().splitlines()

In [10]:
def limpa_nomes(lista):
  l1 = list()
  for each in lista:
    each = each.strip()
    l1.append(each)
  return l1

In [11]:
l1 = limpa_nomes(lista1)
l2 = limpa_nomes(lista2)
l3 = limpa_nomes(lista3)
l4 = limpa_nomes(lista4)

# 2. Ler a lista de presen√ßa

In [14]:
import pandas

df_alunos = pandas.read_csv('alunosap.csv')
df_alunos

      matricula                                   nome
0   20249020060        ALEXANDRE DA SILVA COSTA JUNIOR
1   20249010073                ANA CLARA BEZERRA LEITE
2   20249009822              ANA LIVIA DE ARRUDA VERAS
3   20249021863        ANTONIO GABRIEL DE SOUSA AMORIM
4   20249024275             BEATRIZ TEIXEIRA FERNANDES
5   20249022341                        DAVI COSTA LEAL
6   20249010805            EDGAR AGNUSSEM VAZ DA SILVA
7   20249016021              ENZO SAMUEL SILVA CAMARCO
8   20249022305     ERMESON HIARLEY DA SILVA GONCALVES
9   20249050874              HAYSSA MARIA COELHO LOPES
10  20249040250                    IZEQUIEL MELO SILVA
11  20249015552       JOAO GABRIEL SOUSA DO NASCIMENTO
12  20249015178        JOAO HENRIQUE OLIVEIRA PEDREIRA
13  20249010260               JOAO PEDRO OLIVEIRA LIMA
14  20249010734                JOAO VITOR LIMA PEREIRA
15  20249010888               JOSE ALVES DA SILVA NETO
16  20249021157          JOSE ARTHUR CARVALHO DE SOUSA
17  20249020140          JOSE RAYAN BEZERRA NASCIMENTO
18  20249010126             JOSE VICTOR NOBRE IBIAPINA
19  20249016282          KELVIA JAMILLY DA SILVA COSTA
20  20249015113                 LAIS TEIXEIRA DA SILVA
21  20249010510             LUCAS RIBEIRO VENTURA DIAS
22  20249009958                      LUIZA SIMM SANTOS
23  20249011132        MARIA CLARA RIBEIRO DE OLIVEIRA
24  20249044349              MARIA EDUARDA SILVA NEVES
25  20249010171       MARIA VICTORIA ALVES DE CARVALHO
26  20249011240  RAFAEL INACIO DO NASCIMENTO DE MORAIS
27  20249011179      RAISSA OHRANA PEREIRA MASCARENHAS
28  20239047525                  RHYAN MARCOS DA SILVA
29  20249020104                    RONNALD SILVA LOPES
30  20249024005         TARCIO GABRIEL DA ROCHA MENDES
31  20249024201             TAYNARA DA CONCEICAO SILVA
32  20249011070           THALISON GABRIEL BATISTA LUZ

In [15]:
# prompt: convert df_alunos to disctionary where key is matricula and value is nome.

alunos_dict = dict(zip(df_alunos['matricula'], df_alunos['nome']))
alunos_dict

{20249020060: 'ALEXANDRE DA SILVA COSTA JUNIOR',
 20249010073: 'ANA CLARA BEZERRA LEITE',
 20249009822: 'ANA LIVIA DE ARRUDA VERAS',
 20249021863: 'ANTONIO GABRIEL DE SOUSA AMORIM',
 20249024275: 'BEATRIZ TEIXEIRA FERNANDES',
 20249022341: 'DAVI COSTA LEAL',
 20249010805: 'EDGAR AGNUSSEM VAZ DA SILVA',
 20249016021: 'ENZO SAMUEL SILVA CAMARCO',
 20249022305: 'ERMESON HIARLEY DA SILVA GONCALVES',
 20249050874: 'HAYSSA MARIA COELHO LOPES',
 20249040250: 'IZEQUIEL MELO SILVA',
 20249015552: 'JOAO GABRIEL SOUSA DO NASCIMENTO',
 20249015178: 'JOAO HENRIQUE OLIVEIRA PEDREIRA',
 20249010260: 'JOAO PEDRO OLIVEIRA LIMA',
 20249010734: 'JOAO VITOR LIMA PEREIRA',
 20249010888: 'JOSE ALVES DA SILVA NETO',
 20249021157: 'JOSE ARTHUR CARVALHO DE SOUSA',
 20249020140: 'JOSE RAYAN BEZERRA NASCIMENTO',
 20249010126: 'JOSE VICTOR NOBRE IBIAPINA',
 20249016282: 'KELVIA JAMILLY DA SILVA COSTA',
 20249015113: 'LAIS TEIXEIRA DA SILVA',
 20249010510: 'LUCAS RIBEIRO VENTURA DIAS',
 20249009958: 'LUIZA SIMM SANTOS',
 20249011132: 'MARIA CLARA RIBEIRO DE OLIVEIRA',
 20249044349: 'MARIA EDUARDA SILVA NEVES',
 20249010171: 'MARIA VICTORIA ALVES DE CARVALHO',
 20249011240: 'RAFAEL INACIO DO NASCIMENTO DE MORAIS',
 20249011179: 'RAISSA OHRANA PEREIRA MASCARENHAS',
 20239047525: 'RHYAN MARCOS DA SILVA',
 20249020104: 'RONNALD SILVA LOPES',
 20249024005: 'TARCIO GABRIEL DA ROCHA MENDES',
 20249024201: 'TAYNARA DA CONCEICAO SILVA',
 20249011070: 'THALISON GABRIEL BATISTA LUZ'}

#3. Cria as listas de respostas

In [22]:
l1_respostas = list()
l2_respostas = list()
l3_respostas = list()
l4_respostas = list()

In [23]:
for k,v in alunos_dict.items():
  print(k,v)
  if v in l1:
    l1_respostas.append(1)
  else:
    l1_respostas.append(0)
  if v in l2:
    l2_respostas.append(1)
  else:
    l2_respostas.append(0)
  if v in l3:
    l3_respostas.append(1)
  else:
    l3_respostas.append(0)
  if v in l4:
    l4_respostas.append(1)
  else:
    l4_respostas.append(0)

20249020060 ALEXANDRE DA SILVA COSTA JUNIOR
20249010073 ANA CLARA BEZERRA LEITE
20249009822 ANA LIVIA DE ARRUDA VERAS
20249021863 ANTONIO GABRIEL DE SOUSA AMORIM
20249024275 BEATRIZ TEIXEIRA FERNANDES
20249022341 DAVI COSTA LEAL
20249010805 EDGAR AGNUSSEM VAZ DA SILVA
20249016021 ENZO SAMUEL SILVA CAMARCO
20249022305 ERMESON HIARLEY DA SILVA GONCALVES
20249050874 HAYSSA MARIA COELHO LOPES
20249040250 IZEQUIEL MELO SILVA
20249015552 JOAO GABRIEL SOUSA DO NASCIMENTO
20249015178 JOAO HENRIQUE OLIVEIRA PEDREIRA
20249010260 JOAO PEDRO OLIVEIRA LIMA
20249010734 JOAO VITOR LIMA PEREIRA
20249010888 JOSE ALVES DA SILVA NETO
20249021157 JOSE ARTHUR CARVALHO DE SOUSA
20249020140 JOSE RAYAN BEZERRA NASCIMENTO
20249010126 JOSE VICTOR NOBRE IBIAPINA
20249016282 KELVIA JAMILLY DA SILVA COSTA
20249015113 LAIS TEIXEIRA DA SILVA
20249010510 LUCAS RIBEIRO VENTURA DIAS
20249009958 LUIZA SIMM SANTOS
20249011132 MARIA CLARA RIBEIRO DE OLIVEIRA
20249044349 MARIA EDUARDA SILVA NEVES
20249010171 MARIA VICTORIA ALVES DE CARVALHO
20249011240 RAFAEL INACIO DO NASCIMENTO DE MORAIS
20249011179 RAISSA OHRANA PEREIRA MASCARENHAS
20239047525 RHYAN MARCOS DA SILVA
20249020104 RONNALD SILVA LOPES
20249024005 TARCIO GABRIEL DA ROCHA MENDES
20249024201 TAYNARA DA CONCEICAO SILVA
20249011070 THALISON GABRIEL BATISTA LUZ

In [24]:
len(l1_respostas), len(l2_respostas), len(l3_respostas), len(l4_respostas)

(33, 33, 33, 33)

In [25]:
# prompt: how to put l1_respostas as a new column in df_alunos?

df_alunos['l1_respostas'] = l1_respostas
df_alunos['l2_respostas'] = l2_respostas
df_alunos['l3_respostas'] = l3_respostas
df_alunos['l4_respostas'] = l4_respostas
df_alunos

,matricula,nome,l1_respostas,l2_respostas,l3_respostas,l4_respostas
0,20249020060,ALEXANDRE DA SILVA COSTA JUNIOR,1,1,1,1
1,20249010073,ANA CLARA BEZERRA LEITE,1,1,0,1
2,20249009822,ANA LIVIA DE ARRUDA VERAS,1,1,1,1
3,20249021863,ANTONIO GABRIEL DE SOUSA AMORIM,1,1,0,0
4,20249024275,BEATRIZ TEIXEIRA FERNANDES,1,1,1,1
5,20249022341,DAVI COSTA LEAL,1,1,0,1
6,20249010805,EDGAR AGNUSSEM VAZ DA SILVA,1,1,1,1
7,20249016021,ENZO SAMUEL SILVA CAMARCO,1,1,1,0
8,20249022305,ERMESON HIARLEY DA SILVA GONCALVES,1,1,1,1
9,20249050874,HAYSSA MARIA COELHO LOPES,0,0,0,0
10,20249040250,IZEQUIEL MELO SILVA,0,1,1,1
11,20249015552,JOAO GABRIEL SOUSA DO NASCIMENTO,1,0,0,0
12,20249015178,JOAO HENRIQUE OLIVEIRA PEDREIRA,1,1,1,1
13,20249010260,JOAO PEDRO OLIVEIRA LIMA,1,1,1,1
14,20249010734,JOAO VITOR LIMA PEREIRA,1,1,1,1
15,20249010888,JOSE ALVES DA SILVA NETO,1,0,1,0
16,20249021157,JOSE ARTHUR CARVALHO DE SOUSA,1,1,1,0
17,20249020140,JOSE RAYAN BEZERRA NASCIMENTO,1,1,1,1
18,20249010126,JOSE VICTOR NOBRE IBIAPINA,0,0,0,0
19,20249016282,KELVIA JAMILLY DA SILVA COSTA,1,1,1,1
20,20249015113,LAIS TEIXEIRA DA SILVA,0,1,1,1
21,20249010510,LUCAS RIBEIRO VENTURA DIAS,1,1,1,1
22,20249009958,LUIZA SIMM SANTOS,0,1,1,0
23,20249011132,MARIA CLARA RIBEIRO DE OLIVEIRA,1,0,1,1
24,20249044349,MARIA EDUARDA SILVA NEVES,1,1,1,1
25,20249010171,MARIA VICTORIA ALVES DE CARVALHO,1,1,1,1
26,20249011240,RAFAEL INACIO DO NASCIMENTO DE MORAIS,1,1,1,1
27,20249011179,RAISSA OHRANA PEREIRA MASCARENHAS,1,1,1,1
28,20239047525,RHYAN MARCOS DA SILVA,1,1,0,0
29,20249020104,RONNALD SILVA LOPES,1,1,1,0
30,20249024005,TARCIO GABRIEL DA ROCHA MENDES,1,1,1,0
31,20249024201,TAYNARA DA CONCEICAO SILVA,0,1,0,0
32,20249011070,THALISON GABRIEL BATISTA LUZ,1,1,1,1

In [26]:
df_alunos['soma'] = df_alunos['l1_respostas'] + df_alunos['l2_respostas'] + df_alunos['l3_respostas'] + df_alunos['l4_respostas']
df_alunos

,matricula,nome,l1_respostas,l2_respostas,l3_respostas,l4_respostas,soma
0,20249020060,ALEXANDRE DA SILVA COSTA JUNIOR,1,1,1,1,4
1,20249010073,ANA CLARA BEZERRA LEITE,1,1,0,1,3
2,20249009822,ANA LIVIA DE ARRUDA VERAS,1,1,1,1,4
3,20249021863,ANTONIO GABRIEL DE SOUSA AMORIM,1,1,0,0,2
4,20249024275,BEATRIZ TEIXEIRA FERNANDES,1,1,1,1,4
5,20249022341,DAVI COSTA LEAL,1,1,0,1,3
6,20249010805,EDGAR AGNUSSEM VAZ DA SILVA,1,1,1,1,4
7,20249016021,ENZO SAMUEL SILVA CAMARCO,1,1,1,0,3
8,20249022305,ERMESON HIARLEY DA SILVA GONCALVES,1,1,1,1,4
9,20249050874,HAYSSA MARIA COELHO LOPES,0,0,0,0,0
10,20249040250,IZEQUIEL MELO SILVA,0,1,1,1,3
11,20249015552,JOAO GABRIEL SOUSA DO NASCIMENTO,1,0,0,0,1
12,20249015178,JOAO HENRIQUE OLIVEIRA PEDREIRA,1,1,1,1,4
13,20249010260,JOAO PEDRO OLIVEIRA LIMA,1,1,1,1,4
14,20249010734,JOAO VITOR LIMA PEREIRA,1,1,1,1,4
15,20249010888,JOSE ALVES DA SILVA NETO,1,0,1,0,2
16,20249021157,JOSE ARTHUR CARVALHO DE SOUSA,1,1,1,0,3
17,20249020140,JOSE RAYAN BEZERRA NASCIMENTO,1,1,1,1,4
18,20249010126,JOSE VICTOR NOBRE IBIAPINA,0,0,0,0,0
19,20249016282,KELVIA JAMILLY DA SILVA COSTA,1,1,1,1,4
20,20249015113,LAIS TEIXEIRA DA SILVA,0,1,1,1,3
21,20249010510,LUCAS RIBEIRO VENTURA DIAS,1,1,1,1,4
22,20249009958,LUIZA SIMM SANTOS,0,1,1,0,2
23,20249011132,MARIA CLARA RIBEIRO DE OLIVEIRA,1,0,1,1,3
24,20249044349,MARIA EDUARDA SILVA NEVES,1,1,1,1,4
25,20249010171,MARIA VICTORIA ALVES DE CARVALHO,1,1,1,1,4
26,20249011240,RAFAEL INACIO DO NASCIMENTO DE MORAIS,1,1,1,1,4
27,20249011179,RAISSA OHRANA PEREIRA MASCARENHAS,1,1,1,1,4
28,20239047525,RHYAN MARCOS DA SILVA,1,1,0,0,2
29,20249020104,RONNALD SILVA LOPES,1,1,1,0,3
30,20249024005,TARCIO GABRIEL DA ROCHA MENDES,1,1,1,0,3
31,20249024201,TAYNARA DA CONCEICAO SILVA,0,1,0,0,1
32,20249011070,THALISON GABRIEL BATISTA LUZ,1,1,1,1,4

In [27]:
df_alunos.to_excel('alunosap.xlsx')