<a href="https://colab.research.google.com/github/armandossrecife/teste/blob/main/avaliacao_alunos_myaws2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd

In [17]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/2024-06-18T1532_Notas-ACFv2BR-LTI13-77207.csv

--2024-06-18 17:37:03--  https://raw.githubusercontent.com/armandossrecife/teste/main/2024-06-18T1532_Notas-ACFv2BR-LTI13-77207.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13526 (13K) [text/plain]
Saving to: ‘2024-06-18T1532_Notas-ACFv2BR-LTI13-77207.csv.1’

2024-06-18T1532_Not 100%[===================>]  13.21K  --.-KB/s    in 0s

2024-06-18 17:37:03 (78.0 MB/s) - ‘2024-06-18T1532_Notas-ACFv2BR-LTI13-77207.csv.1’ saved [13526/13526]

In [18]:
df_alunos_myaws2 = pd.read_csv('2024-06-18T1532_Notas-ACFv2BR-LTI13-77207.csv')
df_alunos_myaws2

,Student,ID,SIS User ID,SIS Login ID,Section,Módulo 1 Teste de conhecimento (778447),Avaliação do curso (778441),Módulo 2 Teste de conhecimento (778449),Módulo 3 Teste de conhecimento (778450),Módulo 4 Teste de conhecimento (778451),...,Labs Current Score,Labs Unposted Current Score,Labs Final Score,Labs Unposted Final Score,Current Points,Final Points,Current Score,Unposted Current Score,Final Score,Unposted Final Score
0,Points Possible,NaN,NaN,NaN,NaN,"100,00","100,00","100,00","100,00","100,00",...,(somente leitura),(somente leitura),(somente leitura),(somente leitura),(somente leitura),(somente leitura),(somente leitura),(somente leitura),(somente leitura),(somente leitura)
1,"Abreu, Pedro",2818506.0,NaN,pedroffda@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00",NaN,"80,00","90,00","90,00",...,"100,00","100,00","12,50","12,50","440,00","440,00","88,00","88,00","23,16","23,16"
2,"Almeida, Jhoisnayra",2818496.0,NaN,jvrda@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00",NaN,"90,00","80,00","80,00",...,NaN,NaN,"0,00","0,00","340,00","340,00","85,00","85,00","17,89","17,89"
3,"Andrade, Joao",2819842.0,NaN,judeu@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"70,00","70,00","80,00","90,00","80,00",...,"87,38","87,38","87,38","87,38","1599,05","1599,05","84,16","84,16","84,16","84,16"
4,Antonio Junior,2790384.0,NaN,acorreiacruz@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"0,00","0,00","0,00","0,00",NaN,NaN,"0,00","0,00"
5,"Augusto, Isaac",2903163.0,NaN,isaac.augusto@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,...,"93,75","93,75","23,44","23,44","187,50","187,50","93,75","93,75","9,87","9,87"
6,"Bandeira, Lucas",2819844.0,NaN,lucasbanmir@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"0,00","0,00","0,00","0,00",NaN,NaN,"0,00","0,00"
7,"Borges, Italo",2818495.0,NaN,italoborges@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00",NaN,"70,00","90,00","90,00",...,"91,67","91,67","22,92","22,92","603,33","603,33","86,19","86,19","31,75","31,75"
8,"Brandao, Wesley",2818511.0,NaN,wesleyvitor37417@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00",NaN,"100,00","100,00","100,00",...,"93,33","93,33","35,00","35,00","1280,00","1280,00","98,46","98,46","67,37","67,37"
9,"Brito, Luis",2818499.0,NaN,luisfelipe114@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"70,00",NaN,"80,00","100,00","60,00",...,"100,00","100,00","25,00","25,00","510,00","510,00","85,00","85,00","26,84","26,84"
10,"Calebe, Neemias",2818505.0,NaN,miaskaleb3011@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00","85,00","80,00","90,00","80,00",...,"94,38","94,38","94,38","94,38","1740,00","1740,00","91,58","91,58","91,58","91,58"
11,"Carvalho, Vicente",2819839.0,NaN,vicentecarvalho@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"0,00","0,00","0,00","0,00",NaN,NaN,"0,00","0,00"
12,"Costa, Landerson",2818498.0,NaN,landerson@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"70,00",NaN,"80,00","80,00","100,00",...,NaN,NaN,"0,00","0,00","890,00","890,00","89,00","89,00","46,84","46,84"
13,"Ferreira, Weslley",2818512.0,NaN,NaN,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"0,00","0,00","0,00","0,00",NaN,NaN,"0,00","0,00"
14,"Filipe, João",2750194.0,NaN,joaofilipe023@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00",NaN,"100,00","90,00","90,00",...,NaN,NaN,"0,00","0,00","910,00","910,00","91,00","91,00","47,89","47,89"
15,"Gabriel, Icaro",2818494.0,NaN,icarogabryel2001@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,"90,00",NaN,...,"87,50","87,50","10,94","10,94","177,50","177,50","88,75","88,75","9,34","9,34"
16,"Gustavo, Luis",2818500.0,NaN,luisgustavolg2177@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00",NaN,"90,00","80,00","80,00",...,"95,83","95,83","47,92","47,92","713,33","713,33","89,17","89,17","37,54","37,54"
17,"Hugo, Victor",2818510.0,NaN,vhcampos@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"0,00","0,00","0,00","0,00",NaN,NaN,"0,00","0,00"
18,"Jose, Alexandre",2819838.0,NaN,alexandremrosa27@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00",NaN,"80,00","80,00",NaN,...,NaN,NaN,"0,00","0,00","250,00","250,00","83,33","83,33","13,16","13,16"
19,"Jose, Davi",2838756.0,NaN,davi.josantos@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00",NaN,"100,00",NaN,NaN,...,NaN,NaN,"0,00","0,00","200,00","200,00","100,00","100,00","10,53","10,53"
20,"Lima, Daniel",2818491.0,NaN,daniellimas2000@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00",NaN,"90,00","100,00","100,00",...,"100,00","100,00","62,50","62,50","1050,00","1050,00","95,45","95,45","55,26","55,26"
21,"Lopes, Mikael",2818504.0,NaN,mikaelslopes@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,...,"95,83","95,83","35,94","35,94","287,50","287,50","95,83","95,83","15,13","15,13"
22,"Matheus, Ramon",2818507.0,NaN,rmfernandes@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00",NaN,"80,00","90,00","90,00",...,"93,33","93,33","35,00","35,00","790,00","790,00","87,78","87,78","41,58","41,58"
23,"Mesquita, Luiz",2818501.0,NaN,luizmesquitahenrique@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00",NaN,"100,00","90,00",NaN,...,NaN,NaN,"0,00","0,00","280,00","280,00","93,33","93,33","14,74","14,74"
24,"Moura, Ruan",2818508.0,NaN,rhuanmourao@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"0,00","0,00","0,00","0,00",NaN,NaN,"0,00","0,00"
25,"Moura, Vinicius",2819843.0,NaN,viniciusmra@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00",NaN,"80,00","90,00",NaN,...,"100,00","100,00","25,00","25,00","470,00","470,00","94,00","94,00","24,74","24,74"
26,"Nakatu, Hiro",2818493.0,NaN,hironakatu@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"70,00",NaN,"70,00","80,00",NaN,...,NaN,NaN,"0,00","0,00","220,00","220,00","73,33","73,33","11,58","11,58"
27,"Oliveira, Ana",2818489.0,NaN,let0210@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00",NaN,NaN,NaN,NaN,...,NaN,NaN,"0,00","0,00","90,00","90,00","90,00","90,00","4,74","4,74"
28,"Oliveira, Marcelo",2823113.0,NaN,fmarcelo3duardo@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00",NaN,"80,00","90,00","100,00",...,"95,83","95,83","35,94","35,94","637,50","637,50","91,07","91,07","33,55","33,55"
29,"Ryan, Claudiney",2823305.0,NaN,claudineyryan@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00",NaN,"90,00","100,00",NaN,...,NaN,NaN,"0,00","0,00","290,00","290,00","96,67","96,67","15,26","15,26"
30,"Santos, Guilherme",2819840.0,NaN,guilhermesantos@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00","75,00","70,00","90,00","80,00",...,"95,31","95,31","95,31","95,31","1637,50","1637,50","86,18","86,18","86,18","86,18"
31,"Silva, Benjamim",2818490.0,NaN,benjamin.santos@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00",NaN,"90,00","100,00","90,00",...,"100,00","100,00","25,00","25,00","670,00","670,00","95,71","95,71","35,26","35,26"
32,"Silvestre, Samuel",2819841.0,NaN,sssb@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"0,00","0,00","0,00","0,00",NaN,NaN,"0,00","0,00"
33,"Sousa, Ryan",2818509.0,NaN,ryanfsousa@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00","75,00","100,00","100,00","100,00",...,"100,00","100,00","100,00","100,00","1875,00","1875,00","98,68","98,68","98,68","98,68"
34,"Victor, Joao",2818497.0,NaN,joaovictor.slv@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00",NaN,"90,00","100,00","100,00",...,"93,75","93,75","23,44","23,44","1167,50","1167,50","97,29","97,29","61,45","61,45"
35,"Vinicius, Marcos",2818502.0,NaN,marcusv.barradas@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00",NaN,NaN,NaN,NaN,...,"100,00","100,00","25,00","25,00","280,00","280,00","93,33","93,33","14,74","14,74"
36,"Vinicius, Matheus",2818503.0,NaN,matheusv@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"0,00","0,00","0,00","0,00",NaN,NaN,"0,00","0,00"
37,"Xavier, Francisco",2818492.0,NaN,franciscomxcosme@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00",NaN,"80,00","80,00","100,00",...,"100,00","100,00","37,50","37,50","750,00","750,00","93,75","93,75","39,47","39,47"
38,"aluno, Testar",2811479.0,NaN,730636f1aa493ed437218d0727184d561eb3e979,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_alunos_myaws2.columns

Index(['Student', 'ID', 'SIS User ID', 'SIS Login ID', 'Section',
       'Módulo 1 Teste de conhecimento (778447)',
       'Avaliação do curso (778441)',
       'Módulo 2 Teste de conhecimento (778449)',
       'Módulo 3 Teste de conhecimento (778450)',
       'Módulo 4 Teste de conhecimento (778451)',
       'Módulo 5 Teste de conhecimento (778452)',
       'Módulo 6 Teste de conhecimento (778453)',
       'Módulo 7 Teste de conhecimento (778454)',
       'Módulo 8 Teste de conhecimento (778455)',
       'Módulo 9 Teste de conhecimento (778456)',
       'Módulo 10 Teste de conhecimento (778448)',
       'Laboratório 1 - Introdução ao IAM (778442)',
       'Laboratório 2 - Crie sua VPC e execute um servidor web (778443)',
       'Laboratório 3 - Introdução ao Amazon EC2 (778444)',
       'Atividade: AWS Lambda (778440)',
       'Atividade: AWS Elastic Beanstalk (778439)',
       'Laboratório 4 - Trabalhando com EBS (778445)',
       'Laboratório 5 - Crie um servidor de banco de dados e interaja com o banco de dados usando um aplicativo (778446)',
       ' Laboratório 6 - Ajuste a escala e o balanceamento de carga da arquitetura (778438)',
       'Assignments Current Points', 'Assignments Final Points',
       'Assignments Current Score', 'Assignments Unposted Current Score',
       'Assignments Final Score', 'Assignments Unposted Final Score',
       'Knowledge Checks Current Points', 'Knowledge Checks Final Points',
       'Knowledge Checks Current Score',
       'Knowledge Checks Unposted Current Score',
       'Knowledge Checks Final Score', 'Knowledge Checks Unposted Final Score',
       'Labs Current Points', 'Labs Final Points', 'Labs Current Score',
       'Labs Unposted Current Score', 'Labs Final Score',
       'Labs Unposted Final Score', 'Current Points', 'Final Points',
       'Current Score', 'Unposted Current Score', 'Final Score',
       'Unposted Final Score'],
      dtype='object')

In [20]:
lista_colunas = ['Student', 'ID', 'SIS User ID', 'SIS Login ID', 'Section',
       'Módulo 1 Teste de conhecimento (778447)',
       'Avaliação do curso (778441)',
       'Módulo 2 Teste de conhecimento (778449)',
       'Módulo 3 Teste de conhecimento (778450)',
       'Módulo 4 Teste de conhecimento (778451)',
       'Módulo 5 Teste de conhecimento (778452)',
       'Módulo 6 Teste de conhecimento (778453)',
       'Módulo 7 Teste de conhecimento (778454)',
       'Módulo 8 Teste de conhecimento (778455)',
       'Módulo 9 Teste de conhecimento (778456)',
       'Módulo 10 Teste de conhecimento (778448)',
       'Laboratório 1 - Introdução ao IAM (778442)',
       'Laboratório 2 - Crie sua VPC e execute um servidor web (778443)',
       'Laboratório 3 - Introdução ao Amazon EC2 (778444)',
       'Atividade: AWS Lambda (778440)',
       'Atividade: AWS Elastic Beanstalk (778439)',
       'Laboratório 4 - Trabalhando com EBS (778445)',
       'Laboratório 5 - Crie um servidor de banco de dados e interaja com o banco de dados usando um aplicativo (778446)',
       ' Laboratório 6 - Ajuste a escala e o balanceamento de carga da arquitetura (778438)',
       'Assignments Current Points', 'Assignments Final Points',
       'Assignments Current Score', 'Assignments Unposted Current Score',
       'Assignments Final Score', 'Assignments Unposted Final Score',
       'Knowledge Checks Current Points', 'Knowledge Checks Final Points',
       'Knowledge Checks Current Score',
       'Knowledge Checks Unposted Current Score',
       'Knowledge Checks Final Score', 'Knowledge Checks Unposted Final Score',
       'Labs Current Points', 'Labs Final Points', 'Labs Current Score',
       'Labs Unposted Current Score', 'Labs Final Score',
       'Labs Unposted Final Score', 'Current Points', 'Final Points',
       'Current Score', 'Unposted Current Score', 'Final Score',
       'Unposted Final Score']

In [21]:
colunas_uteis = [
       'Student',
       'ID',
       'SIS Login ID',
       'Section',
       'Módulo 1 Teste de conhecimento (778447)',
       'Módulo 2 Teste de conhecimento (778449)',
       'Módulo 3 Teste de conhecimento (778450)',
       'Módulo 4 Teste de conhecimento (778451)',
       'Módulo 5 Teste de conhecimento (778452)',
       'Módulo 6 Teste de conhecimento (778453)',
       'Módulo 7 Teste de conhecimento (778454)',
       'Módulo 8 Teste de conhecimento (778455)',
       'Módulo 9 Teste de conhecimento (778456)',
       'Módulo 10 Teste de conhecimento (778448)',
       'Laboratório 1 - Introdução ao IAM (778442)',
       'Laboratório 2 - Crie sua VPC e execute um servidor web (778443)',
       'Laboratório 3 - Introdução ao Amazon EC2 (778444)',
       'Laboratório 4 - Trabalhando com EBS (778445)',
       'Laboratório 5 - Crie um servidor de banco de dados e interaja com o banco de dados usando um aplicativo (778446)',
       ' Laboratório 6 - Ajuste a escala e o balanceamento de carga da arquitetura (778438)',
       'Atividade: AWS Lambda (778440)',
       'Atividade: AWS Elastic Beanstalk (778439)',
       'Avaliação do curso (778441)',
       'Final Points',
       'Final Score'
       ]

In [22]:
df_alunos_myaws2_filtrado = df_alunos_myaws2[colunas_uteis]
df_alunos_myaws2_filtrado

,Student,ID,SIS Login ID,Section,Módulo 1 Teste de conhecimento (778447),Módulo 2 Teste de conhecimento (778449),Módulo 3 Teste de conhecimento (778450),Módulo 4 Teste de conhecimento (778451),Módulo 5 Teste de conhecimento (778452),Módulo 6 Teste de conhecimento (778453),...,Laboratório 2 - Crie sua VPC e execute um servidor web (778443),Laboratório 3 - Introdução ao Amazon EC2 (778444),Laboratório 4 - Trabalhando com EBS (778445),Laboratório 5 - Crie um servidor de banco de dados e interaja com o banco de dados usando um aplicativo (778446),Laboratório 6 - Ajuste a escala e o balanceamento de carga da arquitetura (778438),Atividade: AWS Lambda (778440),Atividade: AWS Elastic Beanstalk (778439),Avaliação do curso (778441),Final Points,Final Score
0,Points Possible,NaN,NaN,NaN,"100,00","100,00","100,00","100,00","100,00","100,00",...,"100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00",(somente leitura),(somente leitura)
1,"Abreu, Pedro",2818506.0,pedroffda@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00","80,00","90,00","90,00",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"440,00","23,16"
2,"Almeida, Jhoisnayra",2818496.0,jvrda@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00","90,00","80,00","80,00",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"340,00","17,89"
3,"Andrade, Joao",2819842.0,judeu@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"70,00","80,00","90,00","80,00","70,00","90,00",...,"83,33","100,00","100,00","75,00","85,71","100,00","80,00","70,00","1599,05","84,16"
4,Antonio Junior,2790384.0,acorreiacruz@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,00","0,00"
5,"Augusto, Isaac",2903163.0,isaac.augusto@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,NaN,...,"100,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"187,50","9,87"
6,"Bandeira, Lucas",2819844.0,lucasbanmir@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,00","0,00"
7,"Borges, Italo",2818495.0,italoborges@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00","70,00","90,00","90,00","80,00",NaN,...,"83,33",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"603,33","31,75"
8,"Brandao, Wesley",2818511.0,wesleyvitor37417@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00","100,00","100,00","100,00","100,00","100,00",...,"100,00","80,00",NaN,NaN,NaN,NaN,NaN,NaN,"1280,00","67,37"
9,"Brito, Luis",2818499.0,luisfelipe114@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"70,00","80,00","100,00","60,00",NaN,NaN,...,"100,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"510,00","26,84"
10,"Calebe, Neemias",2818505.0,miaskaleb3011@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00","80,00","90,00","80,00","100,00","90,00",...,"100,00","100,00","80,00","100,00","100,00","100,00","100,00","85,00","1740,00","91,58"
11,"Carvalho, Vicente",2819839.0,vicentecarvalho@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,00","0,00"
12,"Costa, Landerson",2818498.0,landerson@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"70,00","80,00","80,00","100,00","100,00","90,00",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"890,00","46,84"
13,"Ferreira, Weslley",2818512.0,NaN,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,00","0,00"
14,"Filipe, João",2750194.0,joaofilipe023@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00","100,00","90,00","90,00","100,00","90,00",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"910,00","47,89"
15,"Gabriel, Icaro",2818494.0,icarogabryel2001@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,"90,00",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"177,50","9,34"
16,"Gustavo, Luis",2818500.0,luisgustavolg2177@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00","90,00","80,00","80,00",NaN,NaN,...,"83,33","100,00","100,00",NaN,NaN,NaN,NaN,NaN,"713,33","37,54"
17,"Hugo, Victor",2818510.0,vhcampos@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,00","0,00"
18,"Jose, Alexandre",2819838.0,alexandremrosa27@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00","80,00","80,00",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"250,00","13,16"
19,"Jose, Davi",2838756.0,davi.josantos@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00","100,00",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"200,00","10,53"
20,"Lima, Daniel",2818491.0,daniellimas2000@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00","90,00","100,00","100,00","80,00","80,00",...,"100,00","100,00",NaN,NaN,NaN,"100,00","100,00",NaN,"1050,00","55,26"
21,"Lopes, Mikael",2818504.0,mikaelslopes@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,NaN,...,"100,00","100,00",NaN,NaN,NaN,NaN,NaN,NaN,"287,50","15,13"
22,"Matheus, Ramon",2818507.0,rmfernandes@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00","80,00","90,00","90,00","90,00","80,00",...,"100,00","80,00",NaN,NaN,NaN,NaN,NaN,NaN,"790,00","41,58"
23,"Mesquita, Luiz",2818501.0,luizmesquitahenrique@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00","100,00","90,00",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"280,00","14,74"
24,"Moura, Ruan",2818508.0,rhuanmourao@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,00","0,00"
25,"Moura, Vinicius",2819843.0,viniciusmra@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00","80,00","90,00",NaN,NaN,NaN,...,"100,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"470,00","24,74"
26,"Nakatu, Hiro",2818493.0,hironakatu@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"70,00","70,00","80,00",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"220,00","11,58"
27,"Oliveira, Ana",2818489.0,let0210@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"90,00","4,74"
28,"Oliveira, Marcelo",2823113.0,fmarcelo3duardo@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00","80,00","90,00","100,00",NaN,NaN,...,"100,00","100,00",NaN,NaN,NaN,NaN,NaN,NaN,"637,50","33,55"
29,"Ryan, Claudiney",2823305.0,claudineyryan@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00","90,00","100,00",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"290,00","15,26"
30,"Santos, Guilherme",2819840.0,guilhermesantos@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00","70,00","90,00","80,00","80,00","80,00",...,"100,00","100,00","100,00","100,00","100,00","75,00","100,00","75,00","1637,50","86,18"
31,"Silva, Benjamim",2818490.0,benjamin.santos@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00","90,00","100,00","90,00","90,00",NaN,...,"100,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"670,00","35,26"
32,"Silvestre, Samuel",2819841.0,sssb@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,00","0,00"
33,"Sousa, Ryan",2818509.0,ryanfsousa@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00","100,00","100,00","100,00","100,00","100,00",...,"100,00","100,00","100,00","100,00","100,00","100,00","100,00","75,00","1875,00","98,68"
34,"Victor, Joao",2818497.0,joaovictor.slv@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00","90,00","100,00","100,00","100,00","100,00",...,"100,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1167,50","61,45"
35,"Vinicius, Marcos",2818502.0,marcusv.barradas@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00",NaN,NaN,NaN,NaN,NaN,...,"100,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"280,00","14,74"
36,"Vinicius, Matheus",2818503.0,matheusv@ufpi.edu.br,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,00","0,00"
37,"Xavier, Francisco",2818492.0,franciscomxcosme@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00","80,00","80,00","100,00","90,00",NaN,...,"100,00","100,00",NaN,NaN,NaN,NaN,NaN,NaN,"750,00","39,47"
38,"aluno, Testar",2811479.0,730636f1aa493ed437218d0727184d561eb3e979,AWS Academy Cloud Foundations [77207],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_alunos_myaws2_filtrado.dropna(inplace=True)
df_alunos_myaws2_filtrado

<ipython-input-23-89d27fc76e00>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_alunos_myaws2_filtrado.dropna(inplace=True)

,Student,ID,SIS Login ID,Section,Módulo 1 Teste de conhecimento (778447),Módulo 2 Teste de conhecimento (778449),Módulo 3 Teste de conhecimento (778450),Módulo 4 Teste de conhecimento (778451),Módulo 5 Teste de conhecimento (778452),Módulo 6 Teste de conhecimento (778453),...,Laboratório 2 - Crie sua VPC e execute um servidor web (778443),Laboratório 3 - Introdução ao Amazon EC2 (778444),Laboratório 4 - Trabalhando com EBS (778445),Laboratório 5 - Crie um servidor de banco de dados e interaja com o banco de dados usando um aplicativo (778446),Laboratório 6 - Ajuste a escala e o balanceamento de carga da arquitetura (778438),Atividade: AWS Lambda (778440),Atividade: AWS Elastic Beanstalk (778439),Avaliação do curso (778441),Final Points,Final Score
3,"Andrade, Joao",2819842.0,judeu@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"70,00","80,00","90,00","80,00","70,00","90,00",...,"83,33","100,00","100,00","75,00","85,71","100,00","80,00","70,00","1599,05","84,16"
10,"Calebe, Neemias",2818505.0,miaskaleb3011@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"80,00","80,00","90,00","80,00","100,00","90,00",...,"100,00","100,00","80,00","100,00","100,00","100,00","100,00","85,00","1740,00","91,58"
30,"Santos, Guilherme",2819840.0,guilhermesantos@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"90,00","70,00","90,00","80,00","80,00","80,00",...,"100,00","100,00","100,00","100,00","100,00","75,00","100,00","75,00","1637,50","86,18"
33,"Sousa, Ryan",2818509.0,ryanfsousa@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"100,00","100,00","100,00","100,00","100,00","100,00",...,"100,00","100,00","100,00","100,00","100,00","100,00","100,00","75,00","1875,00","98,68"

In [24]:
colunas_uteis_alunos_concluidos = ['Student', 'SIS Login ID', 'Section', 'Final Points', 'Final Score']
df_alunos_myaws2_filtrado_alunos_concluidos = df_alunos_myaws2_filtrado[colunas_uteis_alunos_concluidos]
df_alunos_myaws2_filtrado_alunos_concluidos

,Student,SIS Login ID,Section,Final Points,Final Score
3,"Andrade, Joao",judeu@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"1599,05","84,16"
10,"Calebe, Neemias",miaskaleb3011@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"1740,00","91,58"
30,"Santos, Guilherme",guilhermesantos@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"1637,50","86,18"
33,"Sousa, Ryan",ryanfsousa@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"1875,00","98,68"

In [25]:
df_alunos_myaws2_filtrado_alunos_concluidos.sort_values('Final Score', ascending=False)

,Student,SIS Login ID,Section,Final Points,Final Score
33,"Sousa, Ryan",ryanfsousa@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"1875,00","98,68"
10,"Calebe, Neemias",miaskaleb3011@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"1740,00","91,58"
30,"Santos, Guilherme",guilhermesantos@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"1637,50","86,18"
3,"Andrade, Joao",judeu@ufpi.edu.br,AWS Academy Cloud Foundations [77207],"1599,05","84,16"