<a href="https://colab.research.google.com/github/armandossrecife/teste/blob/main/correcao_av1_lpt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Carrega arquivos

In [1]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/lp/alunoslp2.txt

--2023-07-10 23:25:13--  https://raw.githubusercontent.com/armandossrecife/teste/main/lp/alunoslp2.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 697 [text/plain]
Saving to: ‘alunoslp2.txt’

alunoslp2.txt       100%[===================>]     697  --.-KB/s    in 0s

2023-07-10 23:25:13 (38.0 MB/s) - ‘alunoslp2.txt’ saved [697/697]

In [2]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/lp/l1t2.txt

--2023-07-10 23:26:09--  https://raw.githubusercontent.com/armandossrecife/teste/main/lp/l1t2.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 423 [text/plain]
Saving to: ‘l1t2.txt’

l1t2.txt            100%[===================>]     423  --.-KB/s    in 0s

2023-07-10 23:26:09 (20.0 MB/s) - ‘l1t2.txt’ saved [423/423]

In [4]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/lp/l2t2.txt

--2023-07-10 23:26:24--  https://raw.githubusercontent.com/armandossrecife/teste/main/lp/l2t2.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 393 [text/plain]
Saving to: ‘l2t2.txt’

l2t2.txt            100%[===================>]     393  --.-KB/s    in 0s

2023-07-10 23:26:24 (27.5 MB/s) - ‘l2t2.txt’ saved [393/393]

In [5]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/lp/l3t2.txt

--2023-07-10 23:26:29--  https://raw.githubusercontent.com/armandossrecife/teste/main/lp/l3t2.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 345 [text/plain]
Saving to: ‘l3t2.txt’

l3t2.txt            100%[===================>]     345  --.-KB/s    in 0s

2023-07-10 23:26:29 (14.5 MB/s) - ‘l3t2.txt’ saved [345/345]

In [6]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/lp/l4t2.txt

--2023-07-10 23:26:31--  https://raw.githubusercontent.com/armandossrecife/teste/main/lp/l4t2.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 292 [text/plain]
Saving to: ‘l4t2.txt’

l4t2.txt            100%[===================>]     292  --.-KB/s    in 0s

2023-07-10 23:26:31 (15.2 MB/s) - ‘l4t2.txt’ saved [292/292]

In [ ]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/alunos_av1_corrigido.csv

--2023-02-02 17:06:49--  https://raw.githubusercontent.com/armandossrecife/teste/main/alunos_av1_corrigido.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2023 (2.0K) [text/plain]
Saving to: ‘alunos_av1_corrigido.csv’

alunos_av1_corrigid 100%[===================>]   1.98K  --.-KB/s    in 0s

2023-02-02 17:06:50 (36.2 MB/s) - ‘alunos_av1_corrigido.csv’ saved [2023/2023]

# Faz a análise...

In [15]:
def carrega_alunos(arquivo):
  l1 = list()
  try:
    f_l1 = open(arquivo, 'r')
    for linha in f_l1:
      l1.append(linha.strip())
    f_l1.close()
  except Exception as ex:
    print(f'Erro ao carregar arquivo {arquivo}: {str(ex)}')
  return l1

In [16]:
l_alunos_lp = []
f_alunos_lp = open('alunoslp2.txt')
for linha in f_alunos_lp:
  l_alunos_lp.append(linha.strip())
f_alunos_lp.close()

f_alunos_csv = open('alunos_lp2.csv', 'w')
f_alunos_csv.write('id, matricula, nome')
f_alunos_csv.write('\n')
l_nome_completo = list()
for each in l_alunos_lp:
  each = each.split(' ')
  id = each[0]
  matricula = each[1]
  nome = each[2:]
  nome_completo = " ".join(str(e) for e in nome)
  l_nome_completo.append(nome_completo)
  nova_linha = id + ',' + matricula + ',' + nome_completo + '\n'
  f_alunos_csv.write(nova_linha)
f_alunos_csv.close()

lista1 = carrega_alunos(arquivo='l1t2.txt')
lista2 = carrega_alunos(arquivo='l2t2.txt')
lista3 = carrega_alunos(arquivo='l3t2.txt')
lista4 = carrega_alunos(arquivo='l4t2.txt')

print(f'Total de alunos: {len(l_nome_completo)}')
print(f'Resolução - l1: {len(lista1)}, l2: {len(lista2)}, l3: {len(lista3)}, l4: {len(lista4)}')

Total de alunos: 17
Resolução - l1: 15, l2: 14, l3: 12, l4: 10

In [17]:
fez_l1, fez_l2, fez_l3, fez_l4 = ([], [], [], [])
for nome in l_nome_completo:
  if nome in lista1:
    fez_l1.append(1)
  else:
    fez_l1.append(0)
  if nome in lista2:
    fez_l2.append(1)
  else:
    fez_l2.append(0)
  if nome in lista3:
    fez_l3.append(1)
  else:
    fez_l3.append(0)
  if nome in lista4:
    fez_l4.append(1)
  else:
    fez_l4.append(0)

In [18]:
dic_alunos_lp = {
    'nome':l_nome_completo,
    'fez_l1':fez_l1,
    'fez_l2':fez_l2,
    'fez_l3':fez_l3,
    'fez_l4':fez_l4,
}

In [19]:
import pandas as pd

In [20]:
df_alunos_lp_av1 = pd.DataFrame(dic_alunos_lp)

In [21]:
df_alunos_lp_av1

,nome,fez_l1,fez_l2,fez_l3,fez_l4
0,ANDRE LOPES ARAUJO,1,1,0,1
1,ANTHONY RIOS AMORIM,1,1,1,1
2,FELIPE CHAVES GOMES,1,1,0,0
3,GABRIEL CUSTODIO ANDRADE LIRA,1,1,1,1
4,GABRIEL FERRO MOURA,0,0,0,0
5,GABRIEL PEREIRA REGO,1,1,1,0
6,JEOVANDO DA SILVA REIS JUNIOR,1,1,1,1
7,JORDANNE FERREIRA E SILVA FILHO,1,1,1,0
8,JOSE ANDRE DE SOUSA BORGES,1,1,1,1
9,JOSE FRANCISCO FERREIRA DOS SANTOS,0,0,0,0
10,LEONIDAS PEREIRA DE ABREU,0,0,0,0
11,LUCIA DE FATIMA DA ROCHA MARTINS,1,1,1,1
12,MARCOS VINICIUS CAMPOS RODRIGUES CAVALCANTE,1,1,1,1
13,MAYRON FERRY SOUZA,1,1,1,0
14,RAIMUNDO VIEIRA RAMOS NETO,1,1,1,1
15,RODRIGO DA SILVA LEITE,1,1,1,1
16,WENCYO RAFAEL LIMA DE SOUSA,1,1,1,1

In [ ]:
#df_alunos_av1 = pd.read_csv('alunos_av1_corrigido.csv', sep=';')
#df_alunos_av1

In [22]:
df_alunos_lp_av1.columns

Index(['nome', 'fez_l1', 'fez_l2', 'fez_l3', 'fez_l4'], dtype='object')

In [23]:
df_alunos_lp_av1['soma'] = df_alunos_lp_av1['fez_l1'] + df_alunos_lp_av1['fez_l2'] + df_alunos_lp_av1['fez_l3'] + df_alunos_lp_av1['fez_l4']
df_alunos_lp_av1

,nome,fez_l1,fez_l2,fez_l3,fez_l4,soma
0,ANDRE LOPES ARAUJO,1,1,0,1,3
1,ANTHONY RIOS AMORIM,1,1,1,1,4
2,FELIPE CHAVES GOMES,1,1,0,0,2
3,GABRIEL CUSTODIO ANDRADE LIRA,1,1,1,1,4
4,GABRIEL FERRO MOURA,0,0,0,0,0
5,GABRIEL PEREIRA REGO,1,1,1,0,3
6,JEOVANDO DA SILVA REIS JUNIOR,1,1,1,1,4
7,JORDANNE FERREIRA E SILVA FILHO,1,1,1,0,3
8,JOSE ANDRE DE SOUSA BORGES,1,1,1,1,4
9,JOSE FRANCISCO FERREIRA DOS SANTOS,0,0,0,0,0
10,LEONIDAS PEREIRA DE ABREU,0,0,0,0,0
11,LUCIA DE FATIMA DA ROCHA MARTINS,1,1,1,1,4
12,MARCOS VINICIUS CAMPOS RODRIGUES CAVALCANTE,1,1,1,1,4
13,MAYRON FERRY SOUZA,1,1,1,0,3
14,RAIMUNDO VIEIRA RAMOS NETO,1,1,1,1,4
15,RODRIGO DA SILVA LEITE,1,1,1,1,4
16,WENCYO RAFAEL LIMA DE SOUSA,1,1,1,1,4

In [25]:
df_alunos_por_soma = df_alunos_lp_av1.sort_values(by='soma', ascending=False)
df_alunos_por_soma

,nome,fez_l1,fez_l2,fez_l3,fez_l4,soma
8,JOSE ANDRE DE SOUSA BORGES,1,1,1,1,4
1,ANTHONY RIOS AMORIM,1,1,1,1,4
15,RODRIGO DA SILVA LEITE,1,1,1,1,4
14,RAIMUNDO VIEIRA RAMOS NETO,1,1,1,1,4
12,MARCOS VINICIUS CAMPOS RODRIGUES CAVALCANTE,1,1,1,1,4
11,LUCIA DE FATIMA DA ROCHA MARTINS,1,1,1,1,4
16,WENCYO RAFAEL LIMA DE SOUSA,1,1,1,1,4
6,JEOVANDO DA SILVA REIS JUNIOR,1,1,1,1,4
3,GABRIEL CUSTODIO ANDRADE LIRA,1,1,1,1,4
7,JORDANNE FERREIRA E SILVA FILHO,1,1,1,0,3
5,GABRIEL PEREIRA REGO,1,1,1,0,3
13,MAYRON FERRY SOUZA,1,1,1,0,3
0,ANDRE LOPES ARAUJO,1,1,0,1,3
2,FELIPE CHAVES GOMES,1,1,0,0,2
9,JOSE FRANCISCO FERREIRA DOS SANTOS,0,0,0,0,0
10,LEONIDAS PEREIRA DE ABREU,0,0,0,0,0
4,GABRIEL FERRO MOURA,0,0,0,0,0

In [26]:
df_alunos_por_soma.to_csv('alunos_lp_t2_listas.csv', index=False)