<a href="https://colab.research.google.com/github/armandossrecife/teste/blob/main/faker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install Faker

Collecting Faker
  Downloading Faker-28.4.1-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Downloading Faker-28.4.1-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 18.5 MB/s eta 0:00:00
Installing collected packages: Faker
Successfully installed Faker-28.4.1

In [11]:
from faker import Faker
import datetime
import random
import csv

In [10]:
# Crie uma instância do Faker
fake = Faker()
# Gere um nome fictício
nome = fake.name()
# Gere um endereço fictício
endereco = fake.address()
# Gere um número de telefone fictício
telefone = fake.phone_number()
# Gere uma data de nascimento fictícia
data_de_nascimento = fake.date_of_birth(minimum_age=18, maximum_age=65)
# Imprima os dados fictícios
print("Nome: ", nome)
print("Endereço: ", endereco)
print("Telefone: ", telefone)
print("Data de Nascimento: ", data_de_nascimento)

Nome:  Brian Martinez
Endereço:  83683 Simmons Trace Apt. 637
Berryton, VI 34464
Telefone:  478.403.2251x7304
Data de Nascimento:  1989-07-21

In [12]:
# Set the number of rows to generate
num_rows = 1000000

# Define the column headers
headers = ["date", "name", "age", "city", "state",
                          "fare", "gender", "occupation"]

In [13]:
CITIES = [
    "New York",
    "Los Angeles",
    "Chicago",
    "Houston",
    "Phoenix",
    "Philadelphia",
    "San Antonio",
    "San Diego",
    "Dallas",
    "San Jose",
    "Austin",
    "Jacksonville",
    "Fort Worth",
    "Columbus",
    "San Francisco",
    "Charlotte",
    "Indianapolis",
    "Seattle",
    "Denver",
    "Washington",
    "Boston",
    "Nashville",
    "El Paso",
    "Detroit",
    "Memphis",
    "Portland",
    "Oklahoma City",
    "Las Vegas",
    "Louisville",
    "Baltimore",
    "Milwaukee",
    "Albuquerque",
    "Tucson",
    "Fresno",
    "Mesa",
    "Sacramento",
    "Atlanta",
    "Kansas City",
    "Colorado Springs",
    "Miami",
    "Raleigh",
    "Omaha",
    "Long Beach",
    "Virginia Beach",
    "Oakland",
    "Minneapolis",
    "Tulsa",
    "Wichita",
    "New Orleans",
    "Arlington",
]

STATES = [
    "Alabama",
    "Alaska",
    "Arizona",
    "Arkansas",
    "California",
    "Colorado",
    "Connecticut",
    "Delaware",
    "Florida",
    "Georgia",
    "Hawaii",
    "Idaho",
    "Illinois",
    "Indiana",
    "Iowa",
    "Kansas",
    "Kentucky",
    "Louisiana",
    "Maine",
    "Maryland",
    "Massachusetts",
    "Michigan",
    "Minnesota",
    "Mississippi",
    "Missouri",
    "Montana",
    "Nebraska",
    "Nevada",
    "New Hampshire",
    "New Jersey",
    "New Mexico",
    "New York",
    "North Carolina",
    "North Dakota",
    "Ohio",
    "Oklahoma",
    "Oregon",
    "Pennsylvania",
    "Rhode Island",
    "South Carolina",
    "South Dakota",
    "Tennessee",
    "Texas",
    "Utah",
    "Vermont",
    "Virginia",
    "Washington",
    "West Virginia",
    "Wisconsin",
    "Wyoming",
]

OCCUPATIONS = [
    "Software Engineer",
    "Data Scientist",
    "Teacher",
    "Nurse",
    "Doctor",
    "Lawyer",
    "Accountant",
    "Sales Manager",
    "Marketing Specialist",
    "Writer",
    "Chef",
    "Electrician",
    "Plumber",
    "Mechanic",
    "Architect",
    "Artist",
    "Musician",
    "Pilot",
    "Police Officer",
    "Firefighter",
]

In [14]:
# Open a new CSV file for writing
with open("input.csv", "w", newline="") as csvfile:
    writer = csv.writer(csvfile)

    # Write the header row
    writer.writerow(headers)

    # Generate fake data and write to the CSV file
    for i in range(num_rows):
        # Generate a fake date between 2020 and 2023
        date = fake.date_between_dates(
            date_start=datetime.date(2020, 1, 1),
                                date_end=datetime.date(2023, 12, 31)
        )

        # Generate a fake name
        name = fake.name()

        # Generate a random age between 18 and 80
        age = random.randint(18, 80)

        # Generate a fake city and state
        city = random.choice(CITIES)
        state = random.choice(STATES)

        # Generate a random fare between 10 and 100
        fare = round(random.uniform(10, 100), 2)

        # Generate a random gender
        gender = random.choice(["Male", "Female"])

        # Generate a random occupation
        occupation = random.choice(OCCUPATIONS)

        # Write the data to the CSV file
        writer.writerow([date, name, age, city,
                             state, fare, gender, occupation])