<a href="https://colab.research.google.com/github/armandossrecife/teste/blob/main/listastes20242.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dados do SIGAA

In [31]:
import pandas

In [4]:
df_lista1 = pandas.read_csv('respoastal1.csv', sep=';')
df_lista2 = pandas.read_csv('respoastal2.csv', sep=';')
df_lista3 = pandas.read_csv('respoastal3.csv', sep=';')
df_lista4 = pandas.read_csv('respoastal4.csv', sep=';')
df_alunos = pandas.read_csv('alunostes20242.csv', sep=';')

In [6]:
df_alunos.head(3)

   Seq    Matricula                               Nome
0    1  20189035495        ANTONIO LISBOA DE MELO NETO
1    2  20209057226   BRUNO ESTRELLA DE AZEVEDO SOARES
2    3  20209056668  CARLOS EDUARDO MENDES DE OLIVEIRA

In [9]:
lista1 = df_lista1['Aluno'].tolist()
lista2 = df_lista2['Aluno'].tolist()
lista3 = df_lista3['Aluno'].tolist()
lista4 = df_lista4['Aluno'].tolist()

In [11]:
# prompt: how to convert df_alunos do dictionary where key is Matricula and value of item is Nome?

dicionario_alunos = df_alunos.set_index('Matricula')['Nome'].to_dict()

In [18]:
dicionario_alunos

{20189035495: 'ANTONIO LISBOA DE MELO NETO',
 20209057226: 'BRUNO ESTRELLA DE AZEVEDO SOARES',
 20209056668: 'CARLOS EDUARDO MENDES DE OLIVEIRA',
 20209051311: 'CAYO CESAR LOPES MASCARENHAS PIRES CARDOSO',
 20209053577: 'CIRO OLIMPIO DE MELO',
 20199049224: 'EDUARDO BEZERRA DE SOUSA',
 20209071280: 'ENZO EDUARDO CASSIANO IBIAPINA',
 20189038639: 'EPAMINONDAS NORONHA FEITOSA',
 20209051492: 'FERNANDO AUGUSTO VIEIRA ROSA MARTINS',
 20209050510: 'GABRIEL ALVES DA SILVA',
 20189041240: 'GABRIEL DANTAS DOS SANTOS',
 20209062914: 'INGRID MIRANDA DOS SANTOS',
 20209006479: 'ISABELA MARTINS MELO',
 20209001418: 'JOAO GABRIEL FERNANDES BRANDAO',
 20199053817: 'JOAO VITOR LIMA PIRES',
 20209052954: 'JOSE PIRES GAYOSO ALMENDRA FREITAS NETO',
 20209061828: 'KATHELLEEN VITORIA DA CRUZ ALVES PESSOA',
 20199045922: 'LUCAS MATHEUS DA SILVA ROCHA',
 20209061210: 'LUCIANO GUIMARAES FORTES',
 20209056990: 'MARKESLEY RAMOS DO NASCIMENTO',
 20199042831: 'MATEUS HENRIQUE FERREIRA DE SOUSA',
 20219028291: 'MATEUS JOSE DA SILVA',
 20209061167: 'OSCAR WILLIAM NUNES DE CARVALHO',
 20179017798: 'PAULO EDUARDO RAMOS DE ARAUJO',
 20199035130: 'VITOR MELO LOPES',
 20219006374: 'YTALLO GOMES RIBEIRO MENDES'}

In [19]:
dl1, dl2, dl3, dl4 = dict(), dict(), dict(), dict()

for k, v in dicionario_alunos.items():
    if v in lista1:
        print(f'Aluno {v} está na lista 1')
        dl1[k] = 1
    else:
        dl1[k] = 0
    if v in lista2:
        print(f'Aluno {v} está na lista 2')
        dl2[k] = 1
    else:
        dl2[k] = 0
    if v in lista3:
        print(f'Aluno {v} está na lista 3')
        dl3[k] = 1
    else:
        dl3[k] = 0
    if v in lista4:
        print(f'Aluno {v} está na lista 4')
        dl4[k] = 1
    else:
        dl4[k] = 0

Aluno ANTONIO LISBOA DE MELO NETO está na lista 1
Aluno ANTONIO LISBOA DE MELO NETO está na lista 2
Aluno ANTONIO LISBOA DE MELO NETO está na lista 3
Aluno ANTONIO LISBOA DE MELO NETO está na lista 4
Aluno BRUNO ESTRELLA DE AZEVEDO SOARES está na lista 1
Aluno BRUNO ESTRELLA DE AZEVEDO SOARES está na lista 2
Aluno BRUNO ESTRELLA DE AZEVEDO SOARES está na lista 3
Aluno CARLOS EDUARDO MENDES DE OLIVEIRA está na lista 1
Aluno CARLOS EDUARDO MENDES DE OLIVEIRA está na lista 2
Aluno CARLOS EDUARDO MENDES DE OLIVEIRA está na lista 3
Aluno CARLOS EDUARDO MENDES DE OLIVEIRA está na lista 4
Aluno CAYO CESAR LOPES MASCARENHAS PIRES CARDOSO está na lista 1
Aluno CAYO CESAR LOPES MASCARENHAS PIRES CARDOSO está na lista 2
Aluno CAYO CESAR LOPES MASCARENHAS PIRES CARDOSO está na lista 3
Aluno CAYO CESAR LOPES MASCARENHAS PIRES CARDOSO está na lista 4
Aluno CIRO OLIMPIO DE MELO está na lista 1
Aluno CIRO OLIMPIO DE MELO está na lista 2
Aluno CIRO OLIMPIO DE MELO está na lista 3
Aluno CIRO OLIMPIO DE MELO está na lista 4
Aluno EDUARDO BEZERRA DE SOUSA está na lista 1
Aluno EDUARDO BEZERRA DE SOUSA está na lista 2
Aluno ENZO EDUARDO CASSIANO IBIAPINA está na lista 1
Aluno ENZO EDUARDO CASSIANO IBIAPINA está na lista 3
Aluno ENZO EDUARDO CASSIANO IBIAPINA está na lista 4
Aluno EPAMINONDAS NORONHA FEITOSA está na lista 1
Aluno EPAMINONDAS NORONHA FEITOSA está na lista 3
Aluno EPAMINONDAS NORONHA FEITOSA está na lista 4
Aluno FERNANDO AUGUSTO VIEIRA ROSA MARTINS está na lista 1
Aluno FERNANDO AUGUSTO VIEIRA ROSA MARTINS está na lista 2
Aluno FERNANDO AUGUSTO VIEIRA ROSA MARTINS está na lista 3
Aluno FERNANDO AUGUSTO VIEIRA ROSA MARTINS está na lista 4
Aluno GABRIEL ALVES DA SILVA está na lista 1
Aluno GABRIEL ALVES DA SILVA está na lista 2
Aluno GABRIEL ALVES DA SILVA está na lista 3
Aluno GABRIEL ALVES DA SILVA está na lista 4
Aluno GABRIEL DANTAS DOS SANTOS está na lista 1
Aluno GABRIEL DANTAS DOS SANTOS está na lista 2
Aluno GABRIEL DANTAS DOS SANTOS está na lista 3
Aluno GABRIEL DANTAS DOS SANTOS está na lista 4
Aluno INGRID MIRANDA DOS SANTOS está na lista 1
Aluno INGRID MIRANDA DOS SANTOS está na lista 2
Aluno INGRID MIRANDA DOS SANTOS está na lista 3
Aluno INGRID MIRANDA DOS SANTOS está na lista 4
Aluno ISABELA MARTINS MELO está na lista 1
Aluno ISABELA MARTINS MELO está na lista 2
Aluno ISABELA MARTINS MELO está na lista 3
Aluno ISABELA MARTINS MELO está na lista 4
Aluno JOAO GABRIEL FERNANDES BRANDAO está na lista 2
Aluno JOAO GABRIEL FERNANDES BRANDAO está na lista 3
Aluno JOAO GABRIEL FERNANDES BRANDAO está na lista 4
Aluno JOAO VITOR LIMA PIRES está na lista 1
Aluno JOAO VITOR LIMA PIRES está na lista 2
Aluno JOSE PIRES GAYOSO ALMENDRA FREITAS NETO está na lista 1
Aluno JOSE PIRES GAYOSO ALMENDRA FREITAS NETO está na lista 2
Aluno JOSE PIRES GAYOSO ALMENDRA FREITAS NETO está na lista 3
Aluno JOSE PIRES GAYOSO ALMENDRA FREITAS NETO está na lista 4
Aluno KATHELLEEN VITORIA DA CRUZ ALVES PESSOA está na lista 1
Aluno KATHELLEEN VITORIA DA CRUZ ALVES PESSOA está na lista 2
Aluno KATHELLEEN VITORIA DA CRUZ ALVES PESSOA está na lista 3
Aluno KATHELLEEN VITORIA DA CRUZ ALVES PESSOA está na lista 4
Aluno LUCAS MATHEUS DA SILVA ROCHA está na lista 1
Aluno LUCAS MATHEUS DA SILVA ROCHA está na lista 2
Aluno LUCAS MATHEUS DA SILVA ROCHA está na lista 3
Aluno LUCAS MATHEUS DA SILVA ROCHA está na lista 4
Aluno LUCIANO GUIMARAES FORTES está na lista 1
Aluno LUCIANO GUIMARAES FORTES está na lista 2
Aluno LUCIANO GUIMARAES FORTES está na lista 3
Aluno LUCIANO GUIMARAES FORTES está na lista 4
Aluno MARKESLEY RAMOS DO NASCIMENTO está na lista 1
Aluno MARKESLEY RAMOS DO NASCIMENTO está na lista 2
Aluno MARKESLEY RAMOS DO NASCIMENTO está na lista 3
Aluno MARKESLEY RAMOS DO NASCIMENTO está na lista 4
Aluno MATEUS HENRIQUE FERREIRA DE SOUSA está na lista 1
Aluno MATEUS HENRIQUE FERREIRA DE SOUSA está na lista 2
Aluno MATEUS HENRIQUE FERREIRA DE SOUSA está na lista 3
Aluno MATEUS HENRIQUE FERREIRA DE SOUSA está na lista 4
Aluno MATEUS JOSE DA SILVA está na lista 1
Aluno MATEUS JOSE DA SILVA está na lista 2
Aluno MATEUS JOSE DA SILVA está na lista 3
Aluno MATEUS JOSE DA SILVA está na lista 4
Aluno OSCAR WILLIAM NUNES DE CARVALHO está na lista 1
Aluno OSCAR WILLIAM NUNES DE CARVALHO está na lista 2
Aluno OSCAR WILLIAM NUNES DE CARVALHO está na lista 3
Aluno OSCAR WILLIAM NUNES DE CARVALHO está na lista 4
Aluno PAULO EDUARDO RAMOS DE ARAUJO está na lista 1
Aluno PAULO EDUARDO RAMOS DE ARAUJO está na lista 2
Aluno PAULO EDUARDO RAMOS DE ARAUJO está na lista 3
Aluno PAULO EDUARDO RAMOS DE ARAUJO está na lista 4
Aluno VITOR MELO LOPES está na lista 1
Aluno VITOR MELO LOPES está na lista 2
Aluno VITOR MELO LOPES está na lista 3
Aluno VITOR MELO LOPES está na lista 4
Aluno YTALLO GOMES RIBEIRO MENDES está na lista 1
Aluno YTALLO GOMES RIBEIRO MENDES está na lista 2
Aluno YTALLO GOMES RIBEIRO MENDES está na lista 4

In [22]:
# prompt: how to iterate df_alunos using for?
valor_l1, valor_l2, valor_l3, valor_l4 = [], [], [], []

for index, row in df_alunos.iterrows():
  # Access individual row elements using column names
  matricula = row['Matricula']
  nome = row['Nome']
  # Perform operations on the row data
  print(f"Matricula: {matricula}, Nome: {nome}")
  if matricula in dl1.keys():
    valor_l1.append(dl1[matricula])
  if matricula in dl2.keys():
    valor_l2.append(dl2[matricula])
  if matricula in dl1.keys():
    valor_l3.append(dl3[matricula])
  if matricula in dl1.keys():
    valor_l4.append(dl4[matricula])

Matricula: 20189035495, Nome: ANTONIO LISBOA DE MELO NETO
Matricula: 20209057226, Nome: BRUNO ESTRELLA DE AZEVEDO SOARES
Matricula: 20209056668, Nome: CARLOS EDUARDO MENDES DE OLIVEIRA
Matricula: 20209051311, Nome: CAYO CESAR LOPES MASCARENHAS PIRES CARDOSO
Matricula: 20209053577, Nome: CIRO OLIMPIO DE MELO
Matricula: 20199049224, Nome: EDUARDO BEZERRA DE SOUSA
Matricula: 20209071280, Nome: ENZO EDUARDO CASSIANO IBIAPINA
Matricula: 20189038639, Nome: EPAMINONDAS NORONHA FEITOSA
Matricula: 20209051492, Nome: FERNANDO AUGUSTO VIEIRA ROSA MARTINS
Matricula: 20209050510, Nome: GABRIEL ALVES DA SILVA
Matricula: 20189041240, Nome: GABRIEL DANTAS DOS SANTOS
Matricula: 20209062914, Nome: INGRID MIRANDA DOS SANTOS
Matricula: 20209006479, Nome: ISABELA MARTINS MELO
Matricula: 20209001418, Nome: JOAO GABRIEL FERNANDES BRANDAO
Matricula: 20199053817, Nome: JOAO VITOR LIMA PIRES
Matricula: 20209052954, Nome: JOSE PIRES GAYOSO ALMENDRA FREITAS NETO
Matricula: 20209061828, Nome: KATHELLEEN VITORIA DA CRUZ ALVES PESSOA
Matricula: 20199045922, Nome: LUCAS MATHEUS DA SILVA ROCHA
Matricula: 20209061210, Nome: LUCIANO GUIMARAES FORTES
Matricula: 20209056990, Nome: MARKESLEY RAMOS DO NASCIMENTO
Matricula: 20199042831, Nome: MATEUS HENRIQUE FERREIRA DE SOUSA
Matricula: 20219028291, Nome: MATEUS JOSE DA SILVA
Matricula: 20209061167, Nome: OSCAR WILLIAM NUNES DE CARVALHO
Matricula: 20179017798, Nome: PAULO EDUARDO RAMOS DE ARAUJO
Matricula: 20199035130, Nome: VITOR MELO LOPES
Matricula: 20219006374, Nome: YTALLO GOMES RIBEIRO MENDES

In [28]:
d_alunos_tes_20242 = {
    'Matricula': df_alunos['Matricula'],
    'Nome': df_alunos['Nome'],
    'Lista1': valor_l1,
    'Lista2': valor_l2,
    'Lista3': valor_l3,
    'Lista4': valor_l4,
}

In [32]:
df_alunos_tes_20242 = pandas.DataFrame(d_alunos_tes_20242)
df_alunos_tes_20242

,Matricula,Nome,Lista1,Lista2,Lista3,Lista4
0,20189035495,ANTONIO LISBOA DE MELO NETO,1,1,1,1
1,20209057226,BRUNO ESTRELLA DE AZEVEDO SOARES,1,1,1,0
2,20209056668,CARLOS EDUARDO MENDES DE OLIVEIRA,1,1,1,1
3,20209051311,CAYO CESAR LOPES MASCARENHAS PIRES CARDOSO,1,1,1,1
4,20209053577,CIRO OLIMPIO DE MELO,1,1,1,1
5,20199049224,EDUARDO BEZERRA DE SOUSA,1,1,0,0
6,20209071280,ENZO EDUARDO CASSIANO IBIAPINA,1,0,1,1
7,20189038639,EPAMINONDAS NORONHA FEITOSA,1,0,1,1
8,20209051492,FERNANDO AUGUSTO VIEIRA ROSA MARTINS,1,1,1,1
9,20209050510,GABRIEL ALVES DA SILVA,1,1,1,1
10,20189041240,GABRIEL DANTAS DOS SANTOS,1,1,1,1
11,20209062914,INGRID MIRANDA DOS SANTOS,1,1,1,1
12,20209006479,ISABELA MARTINS MELO,1,1,1,1
13,20209001418,JOAO GABRIEL FERNANDES BRANDAO,0,1,1,1
14,20199053817,JOAO VITOR LIMA PIRES,1,1,0,0
15,20209052954,JOSE PIRES GAYOSO ALMENDRA FREITAS NETO,1,1,1,1
16,20209061828,KATHELLEEN VITORIA DA CRUZ ALVES PESSOA,1,1,1,1
17,20199045922,LUCAS MATHEUS DA SILVA ROCHA,1,1,1,1
18,20209061210,LUCIANO GUIMARAES FORTES,1,1,1,1
19,20209056990,MARKESLEY RAMOS DO NASCIMENTO,1,1,1,1
20,20199042831,MATEUS HENRIQUE FERREIRA DE SOUSA,1,1,1,1
21,20219028291,MATEUS JOSE DA SILVA,1,1,1,1
22,20209061167,OSCAR WILLIAM NUNES DE CARVALHO,1,1,1,1
23,20179017798,PAULO EDUARDO RAMOS DE ARAUJO,1,1,1,1
24,20199035130,VITOR MELO LOPES,1,1,1,1
25,20219006374,YTALLO GOMES RIBEIRO MENDES,1,1,0,1

In [33]:
# prompt: In dataframe df_alunos_tes_20242, how to create a new column to record the sum of columns lista1, lista2, lista3 and lista4?

df_alunos_tes_20242['Soma_Listas'] = df_alunos_tes_20242['Lista1'] + df_alunos_tes_20242['Lista2'] + df_alunos_tes_20242['Lista3'] + df_alunos_tes_20242['Lista4']

In [34]:
df_alunos_tes_20242

,Matricula,Nome,Lista1,Lista2,Lista3,Lista4,Soma_Listas
0,20189035495,ANTONIO LISBOA DE MELO NETO,1,1,1,1,4
1,20209057226,BRUNO ESTRELLA DE AZEVEDO SOARES,1,1,1,0,3
2,20209056668,CARLOS EDUARDO MENDES DE OLIVEIRA,1,1,1,1,4
3,20209051311,CAYO CESAR LOPES MASCARENHAS PIRES CARDOSO,1,1,1,1,4
4,20209053577,CIRO OLIMPIO DE MELO,1,1,1,1,4
5,20199049224,EDUARDO BEZERRA DE SOUSA,1,1,0,0,2
6,20209071280,ENZO EDUARDO CASSIANO IBIAPINA,1,0,1,1,3
7,20189038639,EPAMINONDAS NORONHA FEITOSA,1,0,1,1,3
8,20209051492,FERNANDO AUGUSTO VIEIRA ROSA MARTINS,1,1,1,1,4
9,20209050510,GABRIEL ALVES DA SILVA,1,1,1,1,4
10,20189041240,GABRIEL DANTAS DOS SANTOS,1,1,1,1,4
11,20209062914,INGRID MIRANDA DOS SANTOS,1,1,1,1,4
12,20209006479,ISABELA MARTINS MELO,1,1,1,1,4
13,20209001418,JOAO GABRIEL FERNANDES BRANDAO,0,1,1,1,3
14,20199053817,JOAO VITOR LIMA PIRES,1,1,0,0,2
15,20209052954,JOSE PIRES GAYOSO ALMENDRA FREITAS NETO,1,1,1,1,4
16,20209061828,KATHELLEEN VITORIA DA CRUZ ALVES PESSOA,1,1,1,1,4
17,20199045922,LUCAS MATHEUS DA SILVA ROCHA,1,1,1,1,4
18,20209061210,LUCIANO GUIMARAES FORTES,1,1,1,1,4
19,20209056990,MARKESLEY RAMOS DO NASCIMENTO,1,1,1,1,4
20,20199042831,MATEUS HENRIQUE FERREIRA DE SOUSA,1,1,1,1,4
21,20219028291,MATEUS JOSE DA SILVA,1,1,1,1,4
22,20209061167,OSCAR WILLIAM NUNES DE CARVALHO,1,1,1,1,4
23,20179017798,PAULO EDUARDO RAMOS DE ARAUJO,1,1,1,1,4
24,20199035130,VITOR MELO LOPES,1,1,1,1,4
25,20219006374,YTALLO GOMES RIBEIRO MENDES,1,1,0,1,3

In [35]:
df_alunos_tes_20242['N1'] = df_alunos_tes_20242['Soma_Listas']*2

In [36]:
df_alunos_tes_20242

,Matricula,Nome,Lista1,Lista2,Lista3,Lista4,Soma_Listas,N1
0,20189035495,ANTONIO LISBOA DE MELO NETO,1,1,1,1,4,8
1,20209057226,BRUNO ESTRELLA DE AZEVEDO SOARES,1,1,1,0,3,6
2,20209056668,CARLOS EDUARDO MENDES DE OLIVEIRA,1,1,1,1,4,8
3,20209051311,CAYO CESAR LOPES MASCARENHAS PIRES CARDOSO,1,1,1,1,4,8
4,20209053577,CIRO OLIMPIO DE MELO,1,1,1,1,4,8
5,20199049224,EDUARDO BEZERRA DE SOUSA,1,1,0,0,2,4
6,20209071280,ENZO EDUARDO CASSIANO IBIAPINA,1,0,1,1,3,6
7,20189038639,EPAMINONDAS NORONHA FEITOSA,1,0,1,1,3,6
8,20209051492,FERNANDO AUGUSTO VIEIRA ROSA MARTINS,1,1,1,1,4,8
9,20209050510,GABRIEL ALVES DA SILVA,1,1,1,1,4,8
10,20189041240,GABRIEL DANTAS DOS SANTOS,1,1,1,1,4,8
11,20209062914,INGRID MIRANDA DOS SANTOS,1,1,1,1,4,8
12,20209006479,ISABELA MARTINS MELO,1,1,1,1,4,8
13,20209001418,JOAO GABRIEL FERNANDES BRANDAO,0,1,1,1,3,6
14,20199053817,JOAO VITOR LIMA PIRES,1,1,0,0,2,4
15,20209052954,JOSE PIRES GAYOSO ALMENDRA FREITAS NETO,1,1,1,1,4,8
16,20209061828,KATHELLEEN VITORIA DA CRUZ ALVES PESSOA,1,1,1,1,4,8
17,20199045922,LUCAS MATHEUS DA SILVA ROCHA,1,1,1,1,4,8
18,20209061210,LUCIANO GUIMARAES FORTES,1,1,1,1,4,8
19,20209056990,MARKESLEY RAMOS DO NASCIMENTO,1,1,1,1,4,8
20,20199042831,MATEUS HENRIQUE FERREIRA DE SOUSA,1,1,1,1,4,8
21,20219028291,MATEUS JOSE DA SILVA,1,1,1,1,4,8
22,20209061167,OSCAR WILLIAM NUNES DE CARVALHO,1,1,1,1,4,8
23,20179017798,PAULO EDUARDO RAMOS DE ARAUJO,1,1,1,1,4,8
24,20199035130,VITOR MELO LOPES,1,1,1,1,4,8
25,20219006374,YTALLO GOMES RIBEIRO MENDES,1,1,0,1,3,6

# Dados da AWS

In [ ]:
colunas_uteis = ['Student', ]

In [38]:
df_listas_aws = pandas.read_csv('aws.csv', sep=',')
df_listas_aws.head(3)

,Student,ID,SIS User ID,SIS Login ID,Section,Módulo 1 Teste de conhecimento (1011874),Avaliação do curso (1011868),Módulo 2 Teste de conhecimento (1011876),Módulo 3 Teste de conhecimento (1011877),Módulo 4 Teste de conhecimento (1011878),...,Labs Current Score,Labs Unposted Current Score,Labs Final Score,Labs Unposted Final Score,Current Points,Final Points,Current Score,Unposted Current Score,Final Score,Unposted Final Score
0,Points Possible,NaN,NaN,NaN,NaN,"100,00","100,00","100,00","100,00","100,00",...,(somente leitura),(somente leitura),(somente leitura),(somente leitura),(somente leitura),(somente leitura),(somente leitura),(somente leitura),(somente leitura),(somente leitura)
1,"Almeida, Jose Augusto",3289306.0,NaN,jose10augusto10@ufpi.edu.br,AWS Academy Cloud Foundations [93962],"90,00",NaN,"100,00",NaN,NaN,...,NaN,NaN,"0,00","0,00","190,00","190,00","95,00","95,00","10,00","10,00"
2,"Alves, Gabriel",3289299.0,NaN,gabrielalves@ufpi.edu.br,AWS Academy Cloud Foundations [93962],"100,00",NaN,"70,00","70,00","90,00",...,"97,14","97,14","85,00","85,00","1350,00","1350,00","90,00","90,00","71,05","71,05"

In [39]:
df_listas_aws.columns

Index(['Student', 'ID', 'SIS User ID', 'SIS Login ID', 'Section',
       'Módulo 1 Teste de conhecimento (1011874)',
       'Avaliação do curso (1011868)',
       'Módulo 2 Teste de conhecimento (1011876)',
       'Módulo 3 Teste de conhecimento (1011877)',
       'Módulo 4 Teste de conhecimento (1011878)',
       'Módulo 5 Teste de conhecimento (1011879)',
       'Módulo 6 Teste de conhecimento (1011880)',
       'Módulo 7 Teste de conhecimento (1011881)',
       'Módulo 8 Teste de conhecimento (1011882)',
       'Módulo 9 Teste de conhecimento (1011883)',
       'Módulo 10 Teste de conhecimento (1011875)',
       'Laboratório 1 - Introdução ao IAM (1011869)',
       'Laboratório 2 - Crie sua VPC e execute um servidor web (1011870)',
       'Laboratório 3 - Introdução ao Amazon EC2 (1011871)',
       'Atividade: AWS Lambda (1011867)',
       'Atividade: AWS Elastic Beanstalk (1011866)',
       'Laboratório 4 - Trabalhando com EBS (1011872)',
       'Laboratório 5 - Crie um servidor de banco de dados e interaja com o banco de dados usando um aplicativo (1011873)',
       ' Laboratório 6 - Ajuste a escala e o balanceamento de carga da arquitetura (1011865)',
       'Assignments Current Points', 'Assignments Final Points',
       'Assignments Current Score', 'Assignments Unposted Current Score',
       'Assignments Final Score', 'Assignments Unposted Final Score',
       'Knowledge Checks Current Points', 'Knowledge Checks Final Points',
       'Knowledge Checks Current Score',
       'Knowledge Checks Unposted Current Score',
       'Knowledge Checks Final Score', 'Knowledge Checks Unposted Final Score',
       'Labs Current Points', 'Labs Final Points', 'Labs Current Score',
       'Labs Unposted Current Score', 'Labs Final Score',
       'Labs Unposted Final Score', 'Current Points', 'Final Points',
       'Current Score', 'Unposted Current Score', 'Final Score',
       'Unposted Final Score'],
      dtype='object')

In [52]:
colunas_uteis = ['Student','Módulo 1 Teste de conhecimento (1011874)','Módulo 2 Teste de conhecimento (1011876)',
      'Módulo 3 Teste de conhecimento (1011877)',
       'Módulo 4 Teste de conhecimento (1011878)',
       'Módulo 5 Teste de conhecimento (1011879)',
       'Módulo 6 Teste de conhecimento (1011880)',
       'Módulo 7 Teste de conhecimento (1011881)',
       'Módulo 8 Teste de conhecimento (1011882)',
       'Módulo 9 Teste de conhecimento (1011883)',
       'Módulo 10 Teste de conhecimento (1011875)',
       'Laboratório 1 - Introdução ao IAM (1011869)',
       'Laboratório 2 - Crie sua VPC e execute um servidor web (1011870)',
       'Laboratório 3 - Introdução ao Amazon EC2 (1011871)',
       'Atividade: AWS Lambda (1011867)',
       'Atividade: AWS Elastic Beanstalk (1011866)',
       'Laboratório 4 - Trabalhando com EBS (1011872)']
print(colunas_uteis)

['Student', 'Módulo 1 Teste de conhecimento (1011874)', 'Módulo 2 Teste de conhecimento (1011876)', 'Módulo 3 Teste de conhecimento (1011877)', 'Módulo 4 Teste de conhecimento (1011878)', 'Módulo 5 Teste de conhecimento (1011879)', 'Módulo 6 Teste de conhecimento (1011880)', 'Módulo 7 Teste de conhecimento (1011881)', 'Módulo 8 Teste de conhecimento (1011882)', 'Módulo 9 Teste de conhecimento (1011883)', 'Módulo 10 Teste de conhecimento (1011875)', 'Laboratório 1 - Introdução ao IAM (1011869)', 'Laboratório 2 - Crie sua VPC e execute um servidor web (1011870)', 'Laboratório 3 - Introdução ao Amazon EC2 (1011871)', 'Atividade: AWS Lambda (1011867)', 'Atividade: AWS Elastic Beanstalk (1011866)', 'Laboratório 4 - Trabalhando com EBS (1011872)']

In [53]:
df_respostas_aws = df_listas_aws[colunas_uteis]
df_respostas_aws

,Student,Módulo 1 Teste de conhecimento (1011874),Módulo 2 Teste de conhecimento (1011876),Módulo 3 Teste de conhecimento (1011877),Módulo 4 Teste de conhecimento (1011878),Módulo 5 Teste de conhecimento (1011879),Módulo 6 Teste de conhecimento (1011880),Módulo 7 Teste de conhecimento (1011881),Módulo 8 Teste de conhecimento (1011882),Módulo 9 Teste de conhecimento (1011883),Módulo 10 Teste de conhecimento (1011875),Laboratório 1 - Introdução ao IAM (1011869),Laboratório 2 - Crie sua VPC e execute um servidor web (1011870),Laboratório 3 - Introdução ao Amazon EC2 (1011871),Atividade: AWS Lambda (1011867),Atividade: AWS Elastic Beanstalk (1011866),Laboratório 4 - Trabalhando com EBS (1011872)
0,Points Possible,"100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00"
1,"Almeida, Jose Augusto","90,00","100,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Alves, Gabriel","100,00","70,00","70,00","90,00","80,00","80,00","80,00","100,00",NaN,NaN,"100,00","100,00","80,00","100,00","100,00","100,00"
3,"Alves, Kathelleen","100,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Barros, Joao Pedro",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Brandão, João Gabriel Fernandes","90,00","80,00","70,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Cardoso, Cayo","70,00","70,00","70,00","90,00","70,00","80,00",NaN,NaN,NaN,NaN,"87,50",NaN,NaN,NaN,NaN,NaN
7,"Carvalho, Orcar","100,00","100,00","100,00","100,00",NaN,NaN,NaN,NaN,NaN,NaN,"87,50",NaN,NaN,NaN,NaN,NaN
8,"Eduardo, Enzo","100,00","90,00","100,00","100,00","100,00",NaN,NaN,NaN,NaN,NaN,"100,00","83,33",NaN,NaN,NaN,NaN
9,"Eduardo, Paulo","80,00","70,00","100,00","80,00","70,00","90,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Estrela, Bruno","80,00","80,00","100,00","80,00","90,00","90,00","100,00",NaN,NaN,NaN,"87,50","100,00","100,00","100,00","100,00","100,00"
11,"Feitosa, Epaminondas",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Fortes, Luciano","70,00","100,00","90,00","100,00","90,00",NaN,NaN,NaN,NaN,NaN,"100,00","100,00",NaN,NaN,NaN,NaN
13,"Henrique, Mateus","70,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Lopes, Vitor","100,00","100,00","100,00","100,00","100,00",NaN,NaN,NaN,NaN,NaN,"100,00","100,00",NaN,NaN,NaN,NaN
15,"Martins, Fernando","100,00","100,00","100,00","100,00","100,00","100,00","80,00","100,00",NaN,NaN,"100,00","100,00","100,00",NaN,NaN,NaN
16,"Melo, Ciro","100,00","100,00","100,00","100,00","100,00",NaN,NaN,NaN,NaN,NaN,"87,50","100,00",NaN,NaN,NaN,NaN
17,"Melo, Isabela",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Mendes, Ytallo","80,00","70,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"Monte, Joao Pedro",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Nascimento, Markesley","100,00","90,00","100,00","100,00",NaN,NaN,NaN,NaN,NaN,NaN,"100,00",NaN,NaN,NaN,NaN,NaN
21,"Neto, Antonio","90,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"Neto, Jose Pires","100,00","100,00","80,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"Oliveira, Carlos","80,00","90,00","80,00","80,00","80,00","100,00","70,00",NaN,NaN,NaN,"100,00","100,00","100,00","100,00","100,00","100,00"
24,"Pires, Joao Victor",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Rocha, Lucas",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"Santos, Gabriel","90,00","80,00","90,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Santos, Ingrid","80,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"Silva, Matheus","100,00","100,00","100,00","100,00","100,00",NaN,NaN,NaN,NaN,NaN,"100,00","100,00",NaN,NaN,NaN,NaN
29,"Sousa, Eduardo",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"aluno, Testar",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# prompt: in dataframe df_respostas_aws how to convert NaN values to 0?
df_respostas_aws = df_respostas_aws.fillna(0)

In [55]:
df_respostas_aws

,Student,Módulo 1 Teste de conhecimento (1011874),Módulo 2 Teste de conhecimento (1011876),Módulo 3 Teste de conhecimento (1011877),Módulo 4 Teste de conhecimento (1011878),Módulo 5 Teste de conhecimento (1011879),Módulo 6 Teste de conhecimento (1011880),Módulo 7 Teste de conhecimento (1011881),Módulo 8 Teste de conhecimento (1011882),Módulo 9 Teste de conhecimento (1011883),Módulo 10 Teste de conhecimento (1011875),Laboratório 1 - Introdução ao IAM (1011869),Laboratório 2 - Crie sua VPC e execute um servidor web (1011870),Laboratório 3 - Introdução ao Amazon EC2 (1011871),Atividade: AWS Lambda (1011867),Atividade: AWS Elastic Beanstalk (1011866),Laboratório 4 - Trabalhando com EBS (1011872)
0,Points Possible,"100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00"
1,"Almeida, Jose Augusto","90,00","100,00",0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,"Alves, Gabriel","100,00","70,00","70,00","90,00","80,00","80,00","80,00","100,00",0,0,"100,00","100,00","80,00","100,00","100,00","100,00"
3,"Alves, Kathelleen","100,00",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,"Barros, Joao Pedro",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,"Brandão, João Gabriel Fernandes","90,00","80,00","70,00",0,0,0,0,0,0,0,0,0,0,0,0,0
6,"Cardoso, Cayo","70,00","70,00","70,00","90,00","70,00","80,00",0,0,0,0,"87,50",0,0,0,0,0
7,"Carvalho, Orcar","100,00","100,00","100,00","100,00",0,0,0,0,0,0,"87,50",0,0,0,0,0
8,"Eduardo, Enzo","100,00","90,00","100,00","100,00","100,00",0,0,0,0,0,"100,00","83,33",0,0,0,0
9,"Eduardo, Paulo","80,00","70,00","100,00","80,00","70,00","90,00",0,0,0,0,0,0,0,0,0,0
10,"Estrela, Bruno","80,00","80,00","100,00","80,00","90,00","90,00","100,00",0,0,0,"87,50","100,00","100,00","100,00","100,00","100,00"
11,"Feitosa, Epaminondas",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,"Fortes, Luciano","70,00","100,00","90,00","100,00","90,00",0,0,0,0,0,"100,00","100,00",0,0,0,0
13,"Henrique, Mateus","70,00",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,"Lopes, Vitor","100,00","100,00","100,00","100,00","100,00",0,0,0,0,0,"100,00","100,00",0,0,0,0
15,"Martins, Fernando","100,00","100,00","100,00","100,00","100,00","100,00","80,00","100,00",0,0,"100,00","100,00","100,00",0,0,0
16,"Melo, Ciro","100,00","100,00","100,00","100,00","100,00",0,0,0,0,0,"87,50","100,00",0,0,0,0
17,"Melo, Isabela",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,"Mendes, Ytallo","80,00","70,00",0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,"Monte, Joao Pedro",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20,"Nascimento, Markesley","100,00","90,00","100,00","100,00",0,0,0,0,0,0,"100,00",0,0,0,0,0
21,"Neto, Antonio","90,00",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,"Neto, Jose Pires","100,00","100,00","80,00",0,0,0,0,0,0,0,0,0,0,0,0,0
23,"Oliveira, Carlos","80,00","90,00","80,00","80,00","80,00","100,00","70,00",0,0,0,"100,00","100,00","100,00","100,00","100,00","100,00"
24,"Pires, Joao Victor",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,"Rocha, Lucas",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,"Santos, Gabriel","90,00","80,00","90,00",0,0,0,0,0,0,0,0,0,0,0,0,0
27,"Santos, Ingrid","80,00",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28,"Silva, Matheus","100,00","100,00","100,00","100,00","100,00",0,0,0,0,0,"100,00","100,00",0,0,0,0
29,"Sousa, Eduardo",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30,"aluno, Testar",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [56]:
df_respostas_aws.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 17 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Student                                                           31 non-null     object
 1   Módulo 1 Teste de conhecimento (1011874)                          31 non-null     object
 2   Módulo 2 Teste de conhecimento (1011876)                          31 non-null     object
 3   Módulo 3 Teste de conhecimento (1011877)                          31 non-null     object
 4   Módulo 4 Teste de conhecimento (1011878)                          31 non-null     object
 5   Módulo 5 Teste de conhecimento (1011879)                          31 non-null     object
 6   Módulo 6 Teste de conhecimento (1011880)                          31 non-null     object
 7   Módulo 7 Teste de conhecimento (1011881)                          31 non-null     object
 8   Módulo 8 Teste de conhecimento (1011882)                          31 non-null     object
 9   Módulo 9 Teste de conhecimento (1011883)                          31 non-null     object
 10  Módulo 10 Teste de conhecimento (1011875)                         31 non-null     object
 11  Laboratório 1 - Introdução ao IAM (1011869)                       31 non-null     object
 12  Laboratório 2 - Crie sua VPC e execute um servidor web (1011870)  31 non-null     object
 13  Laboratório 3 - Introdução ao Amazon EC2 (1011871)                31 non-null     object
 14  Atividade: AWS Lambda (1011867)                                   31 non-null     object
 15  Atividade: AWS Elastic Beanstalk (1011866)                        31 non-null     object
 16  Laboratório 4 - Trabalhando com EBS (1011872)                     31 non-null     object
dtypes: object(17)
memory usage: 4.2+ KB

In [57]:
df_respostas_aws.to_excel('respostas_aws.xlsx', index=False)

In [59]:
df_respostas_aws_t = pandas.read_excel('respostas_aws.xlsx')
df_respostas_aws_t

,Matricula,Student,Módulo 1 Teste de conhecimento (1011874),Módulo 2 Teste de conhecimento (1011876),Módulo 3 Teste de conhecimento (1011877),Módulo 4 Teste de conhecimento (1011878),Módulo 5 Teste de conhecimento (1011879),Módulo 6 Teste de conhecimento (1011880),Módulo 7 Teste de conhecimento (1011881),Módulo 8 Teste de conhecimento (1011882),Módulo 9 Teste de conhecimento (1011883),Módulo 10 Teste de conhecimento (1011875),Laboratório 1 - Introdução ao IAM (1011869),Laboratório 2 - Crie sua VPC e execute um servidor web (1011870),Laboratório 3 - Introdução ao Amazon EC2 (1011871),Atividade: AWS Lambda (1011867),Atividade: AWS Elastic Beanstalk (1011866),Laboratório 4 - Trabalhando com EBS (1011872)
0,?,"Almeida, Jose Augusto",90,100,0,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
1,20209050510,"Alves, Gabriel",100,70,70,90,80,80,80,100,0,0,100.0,100.00,80,100,100,100
2,?,"Alves, Kathelleen",100,0,0,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
3,?,"Barros, Joao Pedro",0,0,0,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
4,20209001418,"Brandão, João Gabriel Fernandes",90,80,70,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
5,20209051311,"Cardoso, Cayo",70,70,70,90,70,80,0,0,0,0,87.5,0.00,0,0,0,0
6,20209061167,"Carvalho, Orcar",100,100,100,100,0,0,0,0,0,0,87.5,0.00,0,0,0,0
7,20209071280,"Eduardo, Enzo",100,90,100,100,100,0,0,0,0,0,100.0,83.33,0,0,0,0
8,20179017798,"Eduardo, Paulo",80,70,100,80,70,90,0,0,0,0,0.0,0.00,0,0,0,0
9,20209057226,"Estrela, Bruno",80,80,100,80,90,90,100,0,0,0,87.5,100.00,100,100,100,100
10,20189038639,"Feitosa, Epaminondas",0,0,0,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
11,20209061210,"Fortes, Luciano",70,100,90,100,90,0,0,0,0,0,100.0,100.00,0,0,0,0
12,20199042831,"Henrique, Mateus",70,0,0,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
13,20199035130,"Lopes, Vitor",100,100,100,100,100,0,0,0,0,0,100.0,100.00,0,0,0,0
14,20209051492,"Martins, Fernando",100,100,100,100,100,100,80,100,0,0,100.0,100.00,100,0,0,0
15,20209053577,"Melo, Ciro",100,100,100,100,100,0,0,0,0,0,87.5,100.00,0,0,0,0
16,20209006479,"Melo, Isabela",0,0,0,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
17,20219006374,"Mendes, Ytallo",80,70,0,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
18,?,"Monte, Joao Pedro",0,0,0,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
19,20209056990,"Nascimento, Markesley",100,90,100,100,0,0,0,0,0,0,100.0,0.00,0,0,0,0
20,20189035495,"Neto, Antonio",90,0,0,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
21,20209052954,"Neto, Jose Pires",100,100,80,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
22,20209056668,"Oliveira, Carlos",80,90,80,80,80,100,70,0,0,0,100.0,100.00,100,100,100,100
23,20199053817,"Pires, Joao Victor",0,0,0,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
24,20199045922,"Rocha, Lucas",0,0,0,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
25,20189041240,"Santos, Gabriel",90,80,90,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
26,20209062914,"Santos, Ingrid",80,0,0,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0
27,20219028291,"Silva, Matheus",100,100,100,100,100,0,0,0,0,0,100.0,100.00,0,0,0,0
28,20199049224,"Sousa, Eduardo",0,0,0,0,0,0,0,0,0,0,0.0,0.00,0,0,0,0

In [60]:
# prompt: In dataframe df_respostas_aws_t, except columns Matricula and Student, if the value of column is different of zero you have to put number 1?

for column in df_respostas_aws_t.columns:
  if column not in ['Matricula', 'Student']:
    df_respostas_aws_t[column] = df_respostas_aws_t[column].apply(lambda x: 1 if x != 0 else 0)

In [61]:
df_respostas_aws_t

,Matricula,Student,Módulo 1 Teste de conhecimento (1011874),Módulo 2 Teste de conhecimento (1011876),Módulo 3 Teste de conhecimento (1011877),Módulo 4 Teste de conhecimento (1011878),Módulo 5 Teste de conhecimento (1011879),Módulo 6 Teste de conhecimento (1011880),Módulo 7 Teste de conhecimento (1011881),Módulo 8 Teste de conhecimento (1011882),Módulo 9 Teste de conhecimento (1011883),Módulo 10 Teste de conhecimento (1011875),Laboratório 1 - Introdução ao IAM (1011869),Laboratório 2 - Crie sua VPC e execute um servidor web (1011870),Laboratório 3 - Introdução ao Amazon EC2 (1011871),Atividade: AWS Lambda (1011867),Atividade: AWS Elastic Beanstalk (1011866),Laboratório 4 - Trabalhando com EBS (1011872)
0,?,"Almeida, Jose Augusto",1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,20209050510,"Alves, Gabriel",1,1,1,1,1,1,1,1,0,0,1,1,1,1,1,1
2,?,"Alves, Kathelleen",1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,?,"Barros, Joao Pedro",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,20209001418,"Brandão, João Gabriel Fernandes",1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
5,20209051311,"Cardoso, Cayo",1,1,1,1,1,1,0,0,0,0,1,0,0,0,0,0
6,20209061167,"Carvalho, Orcar",1,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0
7,20209071280,"Eduardo, Enzo",1,1,1,1,1,0,0,0,0,0,1,1,0,0,0,0
8,20179017798,"Eduardo, Paulo",1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0
9,20209057226,"Estrela, Bruno",1,1,1,1,1,1,1,0,0,0,1,1,1,1,1,1
10,20189038639,"Feitosa, Epaminondas",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,20209061210,"Fortes, Luciano",1,1,1,1,1,0,0,0,0,0,1,1,0,0,0,0
12,20199042831,"Henrique, Mateus",1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,20199035130,"Lopes, Vitor",1,1,1,1,1,0,0,0,0,0,1,1,0,0,0,0
14,20209051492,"Martins, Fernando",1,1,1,1,1,1,1,1,0,0,1,1,1,0,0,0
15,20209053577,"Melo, Ciro",1,1,1,1,1,0,0,0,0,0,1,1,0,0,0,0
16,20209006479,"Melo, Isabela",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,20219006374,"Mendes, Ytallo",1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,?,"Monte, Joao Pedro",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,20209056990,"Nascimento, Markesley",1,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0
20,20189035495,"Neto, Antonio",1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,20209052954,"Neto, Jose Pires",1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
22,20209056668,"Oliveira, Carlos",1,1,1,1,1,1,1,0,0,0,1,1,1,1,1,1
23,20199053817,"Pires, Joao Victor",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24,20199045922,"Rocha, Lucas",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,20189041240,"Santos, Gabriel",1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
26,20209062914,"Santos, Ingrid",1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27,20219028291,"Silva, Matheus",1,1,1,1,1,0,0,0,0,0,1,1,0,0,0,0
28,20199049224,"Sousa, Eduardo",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [62]:
len(df_respostas_aws_t.columns)

18

In [63]:
# prompt: In dataframe df_respostas_aws_t, except columns Matricula and Student, sum all values of the columns.

df_respostas_aws_t['Soma_Atividades'] = df_respostas_aws_t.iloc[:, 2:].sum(axis=1)

In [67]:
colunas_uteis_aws = ['Matricula', 'Student', 'Soma_Atividades']
df_atividades = df_respostas_aws_t[colunas_uteis_aws]
df_atividades.sort_values(by=['Soma_Atividades'], ascending=False)

      Matricula                          Student  Soma_Atividades
1   20209050510                   Alves, Gabriel               14
22  20209056668                 Oliveira, Carlos               13
9   20209057226                   Estrela, Bruno               13
14  20209051492                Martins, Fernando               11
27  20219028291                   Silva, Matheus                7
15  20209053577                       Melo, Ciro                7
5   20209051311                    Cardoso, Cayo                7
13  20199035130                     Lopes, Vitor                7
7   20209071280                    Eduardo, Enzo                7
11  20209061210                  Fortes, Luciano                7
8   20179017798                   Eduardo, Paulo                6
6   20209061167                  Carvalho, Orcar                5
19  20209056990            Nascimento, Markesley                5
21  20209052954                 Neto, Jose Pires                3
4   20209001418  Brandão, João Gabriel Fernandes                3
25  20189041240                  Santos, Gabriel                3
17  20219006374                   Mendes, Ytallo                2
0             ?            Almeida, Jose Augusto                2
20  20189035495                    Neto, Antonio                1
12  20199042831                 Henrique, Mateus                1
26  20209062914                   Santos, Ingrid                1
2             ?                Alves, Kathelleen                1
18            ?                Monte, Joao Pedro                0
16  20209006479                    Melo, Isabela                0
10  20189038639             Feitosa, Epaminondas                0
23  20199053817               Pires, Joao Victor                0
24  20199045922                     Rocha, Lucas                0
3             ?               Barros, Joao Pedro                0
28  20199049224                   Sousa, Eduardo                0

In [68]:
# prompt: Para o dataframe df_atividades, Na coluna Soma_Atividades, crie uma função que dada as seguintes faixas de valores substitua pelos valores de cada faixa
# faixa1 = 0 substitua por 0
# faixa2 = 1 a 3 substitua por 0.5
# faixa3 = 4 a 5 substitua por 1
# faixa4 = 6 a 10 substitua por 1.4
# faixa5 = 11 a 12 substitua por 1.6
# faixa6 = 13 substitua por 1.8
# faixa7 = 14 substitua por 2

def faixa_atividades(soma_atividades):
  if soma_atividades == 0:
    return 0
  elif 1 <= soma_atividades <= 3:
    return 0.5
  elif 4 <= soma_atividades <= 5:
    return 1
  elif 6 <= soma_atividades <= 10:
    return 1.4
  elif 11 <= soma_atividades <= 12:
    return 1.6
  elif soma_atividades == 13:
    return 1.8
  elif soma_atividades == 14:
    return 2
  else:
    return None  # Ou outro valor padrão caso necessário

df_atividades['Nota_Atividades'] = df_atividades['Soma_Atividades'].apply(faixa_atividades)

<ipython-input-68-e92602327dae>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_atividades['Nota_Atividades'] = df_atividades['Soma_Atividades'].apply(faixa_atividades)

In [69]:
df_atividades

,Matricula,Student,Soma_Atividades,Nota_Atividades
0,?,"Almeida, Jose Augusto",2,0.5
1,20209050510,"Alves, Gabriel",14,2.0
2,?,"Alves, Kathelleen",1,0.5
3,?,"Barros, Joao Pedro",0,0.0
4,20209001418,"Brandão, João Gabriel Fernandes",3,0.5
5,20209051311,"Cardoso, Cayo",7,1.4
6,20209061167,"Carvalho, Orcar",5,1.0
7,20209071280,"Eduardo, Enzo",7,1.4
8,20179017798,"Eduardo, Paulo",6,1.4
9,20209057226,"Estrela, Bruno",13,1.8
10,20189038639,"Feitosa, Epaminondas",0,0.0
11,20209061210,"Fortes, Luciano",7,1.4
12,20199042831,"Henrique, Mateus",1,0.5
13,20199035130,"Lopes, Vitor",7,1.4
14,20209051492,"Martins, Fernando",11,1.6
15,20209053577,"Melo, Ciro",7,1.4
16,20209006479,"Melo, Isabela",0,0.0
17,20219006374,"Mendes, Ytallo",2,0.5
18,?,"Monte, Joao Pedro",0,0.0
19,20209056990,"Nascimento, Markesley",5,1.0
20,20189035495,"Neto, Antonio",1,0.5
21,20209052954,"Neto, Jose Pires",3,0.5
22,20209056668,"Oliveira, Carlos",13,1.8
23,20199053817,"Pires, Joao Victor",0,0.0
24,20199045922,"Rocha, Lucas",0,0.0
25,20189041240,"Santos, Gabriel",3,0.5
26,20209062914,"Santos, Ingrid",1,0.5
27,20219028291,"Silva, Matheus",7,1.4
28,20199049224,"Sousa, Eduardo",0,0.0

In [70]:
df_alunos_tes_20242

,Matricula,Nome,Lista1,Lista2,Lista3,Lista4,Soma_Listas,N1
0,20189035495,ANTONIO LISBOA DE MELO NETO,1,1,1,1,4,8
1,20209057226,BRUNO ESTRELLA DE AZEVEDO SOARES,1,1,1,0,3,6
2,20209056668,CARLOS EDUARDO MENDES DE OLIVEIRA,1,1,1,1,4,8
3,20209051311,CAYO CESAR LOPES MASCARENHAS PIRES CARDOSO,1,1,1,1,4,8
4,20209053577,CIRO OLIMPIO DE MELO,1,1,1,1,4,8
5,20199049224,EDUARDO BEZERRA DE SOUSA,1,1,0,0,2,4
6,20209071280,ENZO EDUARDO CASSIANO IBIAPINA,1,0,1,1,3,6
7,20189038639,EPAMINONDAS NORONHA FEITOSA,1,0,1,1,3,6
8,20209051492,FERNANDO AUGUSTO VIEIRA ROSA MARTINS,1,1,1,1,4,8
9,20209050510,GABRIEL ALVES DA SILVA,1,1,1,1,4,8
10,20189041240,GABRIEL DANTAS DOS SANTOS,1,1,1,1,4,8
11,20209062914,INGRID MIRANDA DOS SANTOS,1,1,1,1,4,8
12,20209006479,ISABELA MARTINS MELO,1,1,1,1,4,8
13,20209001418,JOAO GABRIEL FERNANDES BRANDAO,0,1,1,1,3,6
14,20199053817,JOAO VITOR LIMA PIRES,1,1,0,0,2,4
15,20209052954,JOSE PIRES GAYOSO ALMENDRA FREITAS NETO,1,1,1,1,4,8
16,20209061828,KATHELLEEN VITORIA DA CRUZ ALVES PESSOA,1,1,1,1,4,8
17,20199045922,LUCAS MATHEUS DA SILVA ROCHA,1,1,1,1,4,8
18,20209061210,LUCIANO GUIMARAES FORTES,1,1,1,1,4,8
19,20209056990,MARKESLEY RAMOS DO NASCIMENTO,1,1,1,1,4,8
20,20199042831,MATEUS HENRIQUE FERREIRA DE SOUSA,1,1,1,1,4,8
21,20219028291,MATEUS JOSE DA SILVA,1,1,1,1,4,8
22,20209061167,OSCAR WILLIAM NUNES DE CARVALHO,1,1,1,1,4,8
23,20179017798,PAULO EDUARDO RAMOS DE ARAUJO,1,1,1,1,4,8
24,20199035130,VITOR MELO LOPES,1,1,1,1,4,8
25,20219006374,YTALLO GOMES RIBEIRO MENDES,1,1,0,1,3,6

In [72]:
# prompt: Faça o merge dos data frames df_atividades e df_alunos_tes_20242 usando como chave a coluna Matricula

# Merge dos DataFrames usando a coluna 'Matricula' como chave
df_merged = pandas.merge(df_alunos_tes_20242, df_atividades, on='Matricula', how='left')

# Exibir o DataFrame resultante
df_merged

,Matricula,Nome,Lista1,Lista2,Lista3,Lista4,Soma_Listas,N1,Student,Soma_Atividades,Nota_Atividades
0,20189035495,ANTONIO LISBOA DE MELO NETO,1,1,1,1,4,8,"Neto, Antonio",1.0,0.5
1,20209057226,BRUNO ESTRELLA DE AZEVEDO SOARES,1,1,1,0,3,6,"Estrela, Bruno",13.0,1.8
2,20209056668,CARLOS EDUARDO MENDES DE OLIVEIRA,1,1,1,1,4,8,"Oliveira, Carlos",13.0,1.8
3,20209051311,CAYO CESAR LOPES MASCARENHAS PIRES CARDOSO,1,1,1,1,4,8,"Cardoso, Cayo",7.0,1.4
4,20209053577,CIRO OLIMPIO DE MELO,1,1,1,1,4,8,"Melo, Ciro",7.0,1.4
5,20199049224,EDUARDO BEZERRA DE SOUSA,1,1,0,0,2,4,"Sousa, Eduardo",0.0,0.0
6,20209071280,ENZO EDUARDO CASSIANO IBIAPINA,1,0,1,1,3,6,"Eduardo, Enzo",7.0,1.4
7,20189038639,EPAMINONDAS NORONHA FEITOSA,1,0,1,1,3,6,"Feitosa, Epaminondas",0.0,0.0
8,20209051492,FERNANDO AUGUSTO VIEIRA ROSA MARTINS,1,1,1,1,4,8,"Martins, Fernando",11.0,1.6
9,20209050510,GABRIEL ALVES DA SILVA,1,1,1,1,4,8,"Alves, Gabriel",14.0,2.0
10,20189041240,GABRIEL DANTAS DOS SANTOS,1,1,1,1,4,8,"Santos, Gabriel",3.0,0.5
11,20209062914,INGRID MIRANDA DOS SANTOS,1,1,1,1,4,8,"Santos, Ingrid",1.0,0.5
12,20209006479,ISABELA MARTINS MELO,1,1,1,1,4,8,"Melo, Isabela",0.0,0.0
13,20209001418,JOAO GABRIEL FERNANDES BRANDAO,0,1,1,1,3,6,"Brandão, João Gabriel Fernandes",3.0,0.5
14,20199053817,JOAO VITOR LIMA PIRES,1,1,0,0,2,4,"Pires, Joao Victor",0.0,0.0
15,20209052954,JOSE PIRES GAYOSO ALMENDRA FREITAS NETO,1,1,1,1,4,8,"Neto, Jose Pires",3.0,0.5
16,20209061828,KATHELLEEN VITORIA DA CRUZ ALVES PESSOA,1,1,1,1,4,8,NaN,NaN,NaN
17,20199045922,LUCAS MATHEUS DA SILVA ROCHA,1,1,1,1,4,8,"Rocha, Lucas",0.0,0.0
18,20209061210,LUCIANO GUIMARAES FORTES,1,1,1,1,4,8,"Fortes, Luciano",7.0,1.4
19,20209056990,MARKESLEY RAMOS DO NASCIMENTO,1,1,1,1,4,8,"Nascimento, Markesley",5.0,1.0
20,20199042831,MATEUS HENRIQUE FERREIRA DE SOUSA,1,1,1,1,4,8,"Henrique, Mateus",1.0,0.5
21,20219028291,MATEUS JOSE DA SILVA,1,1,1,1,4,8,"Silva, Matheus",7.0,1.4
22,20209061167,OSCAR WILLIAM NUNES DE CARVALHO,1,1,1,1,4,8,"Carvalho, Orcar",5.0,1.0
23,20179017798,PAULO EDUARDO RAMOS DE ARAUJO,1,1,1,1,4,8,"Eduardo, Paulo",6.0,1.4
24,20199035130,VITOR MELO LOPES,1,1,1,1,4,8,"Lopes, Vitor",7.0,1.4
25,20219006374,YTALLO GOMES RIBEIRO MENDES,1,1,0,1,3,6,"Mendes, Ytallo",2.0,0.5

In [74]:
df_merged['Nota_final'] = df_merged['N1'] + df_merged['Nota_Atividades']

In [75]:
df_merged

,Matricula,Nome,Lista1,Lista2,Lista3,Lista4,Soma_Listas,N1,Student,Soma_Atividades,Nota_Atividades,Nota_final
0,20189035495,ANTONIO LISBOA DE MELO NETO,1,1,1,1,4,8,"Neto, Antonio",1.0,0.5,8.5
1,20209057226,BRUNO ESTRELLA DE AZEVEDO SOARES,1,1,1,0,3,6,"Estrela, Bruno",13.0,1.8,7.8
2,20209056668,CARLOS EDUARDO MENDES DE OLIVEIRA,1,1,1,1,4,8,"Oliveira, Carlos",13.0,1.8,9.8
3,20209051311,CAYO CESAR LOPES MASCARENHAS PIRES CARDOSO,1,1,1,1,4,8,"Cardoso, Cayo",7.0,1.4,9.4
4,20209053577,CIRO OLIMPIO DE MELO,1,1,1,1,4,8,"Melo, Ciro",7.0,1.4,9.4
5,20199049224,EDUARDO BEZERRA DE SOUSA,1,1,0,0,2,4,"Sousa, Eduardo",0.0,0.0,4.0
6,20209071280,ENZO EDUARDO CASSIANO IBIAPINA,1,0,1,1,3,6,"Eduardo, Enzo",7.0,1.4,7.4
7,20189038639,EPAMINONDAS NORONHA FEITOSA,1,0,1,1,3,6,"Feitosa, Epaminondas",0.0,0.0,6.0
8,20209051492,FERNANDO AUGUSTO VIEIRA ROSA MARTINS,1,1,1,1,4,8,"Martins, Fernando",11.0,1.6,9.6
9,20209050510,GABRIEL ALVES DA SILVA,1,1,1,1,4,8,"Alves, Gabriel",14.0,2.0,10.0
10,20189041240,GABRIEL DANTAS DOS SANTOS,1,1,1,1,4,8,"Santos, Gabriel",3.0,0.5,8.5
11,20209062914,INGRID MIRANDA DOS SANTOS,1,1,1,1,4,8,"Santos, Ingrid",1.0,0.5,8.5
12,20209006479,ISABELA MARTINS MELO,1,1,1,1,4,8,"Melo, Isabela",0.0,0.0,8.0
13,20209001418,JOAO GABRIEL FERNANDES BRANDAO,0,1,1,1,3,6,"Brandão, João Gabriel Fernandes",3.0,0.5,6.5
14,20199053817,JOAO VITOR LIMA PIRES,1,1,0,0,2,4,"Pires, Joao Victor",0.0,0.0,4.0
15,20209052954,JOSE PIRES GAYOSO ALMENDRA FREITAS NETO,1,1,1,1,4,8,"Neto, Jose Pires",3.0,0.5,8.5
16,20209061828,KATHELLEEN VITORIA DA CRUZ ALVES PESSOA,1,1,1,1,4,8,NaN,NaN,NaN,NaN
17,20199045922,LUCAS MATHEUS DA SILVA ROCHA,1,1,1,1,4,8,"Rocha, Lucas",0.0,0.0,8.0
18,20209061210,LUCIANO GUIMARAES FORTES,1,1,1,1,4,8,"Fortes, Luciano",7.0,1.4,9.4
19,20209056990,MARKESLEY RAMOS DO NASCIMENTO,1,1,1,1,4,8,"Nascimento, Markesley",5.0,1.0,9.0
20,20199042831,MATEUS HENRIQUE FERREIRA DE SOUSA,1,1,1,1,4,8,"Henrique, Mateus",1.0,0.5,8.5
21,20219028291,MATEUS JOSE DA SILVA,1,1,1,1,4,8,"Silva, Matheus",7.0,1.4,9.4
22,20209061167,OSCAR WILLIAM NUNES DE CARVALHO,1,1,1,1,4,8,"Carvalho, Orcar",5.0,1.0,9.0
23,20179017798,PAULO EDUARDO RAMOS DE ARAUJO,1,1,1,1,4,8,"Eduardo, Paulo",6.0,1.4,9.4
24,20199035130,VITOR MELO LOPES,1,1,1,1,4,8,"Lopes, Vitor",7.0,1.4,9.4
25,20219006374,YTALLO GOMES RIBEIRO MENDES,1,1,0,1,3,6,"Mendes, Ytallo",2.0,0.5,6.5

In [76]:
df_merged.to_excel('df_merged.xlsx', index=False)