<a href="https://colab.research.google.com/github/armandossrecife/teste/blob/main/listas_lp_t2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/alunos_t2lp.txt
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/l1t2.txt
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/l2t2.txt
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/l3t2.txt
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/l4t2.txt

--2023-12-08 19:39:20--  https://raw.githubusercontent.com/armandossrecife/teste/main/alunos_t2lp.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 660 [text/plain]
Saving to: ‘alunos_t2lp.txt’

alunos_t2lp.txt     100%[===================>]     660  --.-KB/s    in 0s

2023-12-08 19:39:20 (25.3 MB/s) - ‘alunos_t2lp.txt’ saved [660/660]

--2023-12-08 19:39:20--  https://raw.githubusercontent.com/armandossrecife/teste/main/l1t2.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 382 [text/plain]
Saving to: ‘l1t2.txt’

l1t2.txt            100%[===================>]     382  --.-KB/s    in 0s

2023-12-08 19:39:20 (28.7 MB/s) - ‘l1t2.txt’ saved [382/382]

--2023-12-08 19:39:20--  https://raw.githubusercontent.com/armandossrecife/teste/main/l2t2.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 442 [text/plain]
Saving to: ‘l2t2.txt’

l2t2.txt            100%[===================>]     442  --.-KB/s    in 0s

2023-12-08 19:39:21 (40.0 MB/s) - ‘l2t2.txt’ saved [442/442]

--2023-12-08 19:39:21--  https://raw.githubusercontent.com/armandossrecife/teste/main/l3t2.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 387 [text/plain]
Saving to: ‘l3t2.txt’

l3t2.txt            100%[===================>]     387  --.-KB/s    in 0s

2023-12-08 19:39:21 (19.3 MB/s) - ‘l3t2.txt’ saved [387/387]

--2023-12-08 19:39:21--  https://raw.githubusercontent.com/armandossrecife/teste/main/l4t2.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 445 [text/plain]
Saving to: ‘l4t2.txt’

l4t2.txt            100%[===================>]     445  --.-KB/s    in 0s

2023-12-08 19:39:21 (43.6 MB/s) - ‘l4t2.txt’ saved [445/445]

In [18]:
lista_alunos = []
with open('alunos_t2lp.txt', mode='r') as f_alunos:
  for line in f_alunos:
    line = line.strip()
    aluno_temp = line.split(',')
    matricula = aluno_temp[0]
    nome = aluno_temp[1]
    aluno = matricula, nome
    lista_alunos.append(aluno)

In [19]:
len(lista_alunos)

16

In [20]:
dict_alunos = {}
for each in lista_alunos:
  dict_alunos[each[0]] = each[1]

In [21]:
dict_alunos

{'20229038498': 'ALAN NUNES VELOSO NOGUEIRA',
 '20229047951': 'ALLYSON KAWA SANTOS DA SILVA',
 '20199041487': 'ARTHUR RABELO DE CARVALHO',
 '20239019825': 'ARTUR VINICIUS SILVA SOUSA',
 '20239005113': 'EMMANUEL DAVID DE ALMEIDA SANTOS',
 '20239005033': 'FRANCISCO RAFAEL MENESES GONCALVES',
 '20209069998': 'HILDA HELENA SILVA ALENCAR LUZ',
 '20239006890': 'JOAO CARLOS FELIX DA COSTA',
 '20239005392': 'JOSE BERNARDO ALVES FORTES',
 '20229005325': 'JOSE FRANCISCO FERREIRA DOS SANTOS',
 '20229037810': 'LETICIA LOPES DE OLIVEIRA',
 '20239005285': 'LUIS HENRIQUE DA SILVA MONTEIRO',
 '20239006390': 'MIGUEL ANJO MACIEL MEDEIROS',
 '20189037417': 'MILENA ARYSA BRITO PORTELA',
 '20229052693': 'NAASSON CALDAS DOS SANTOS',
 '20239005436': 'NICOLE ELLEN MAGALHAES SILVESTRE'}

In [22]:
lista1_nomes = []
lista2_nomes = []
lista3_nomes = []
lista4_nomes = []

In [34]:
def get_nome_alunos(filename):
  lista_alunos = []
  with open(filename, mode='r') as f_alunos:
    for line in f_alunos:
      line = line.strip()
      lista_alunos.append(line)
  return lista_alunos

In [36]:
lista1_nomes = get_nome_alunos('l1t2.txt')
lista2_nomes = get_nome_alunos('l2t2.txt')
lista3_nomes = get_nome_alunos('l3t2.txt')
lista4_nomes = get_nome_alunos('l4t2.txt')

In [39]:
lista_label_matricula, lista_label_nome, lista_label_l1, lista_label_l2, lista_label_l3, lista_label_l4 = list(), list(), list(), list(), list(), list()

In [40]:
for k, v in dict_alunos.items():
  lista_label_matricula.append(k)
  lista_label_nome.append(v)

In [41]:
dict_alunos_notas = {}

In [42]:
for k, v in dict_alunos.items():
  if v in lista1_nomes:
    lista_label_l1.append(1)
  else:
    lista_label_l1.append(0)

  if v in lista2_nomes:
    lista_label_l2.append(1)
  else:
    lista_label_l2.append(0)

  if v in lista3_nomes:
    lista_label_l3.append(1)
  else:
    lista_label_l3.append(0)

  if v in lista4_nomes:
    lista_label_l4.append(1)
  else:
    lista_label_l4.append(0)

In [43]:
dict_alunos_notas = {
    'matricula': lista_label_matricula,
    'nome': lista_label_nome,
    'l1': lista_label_l1,
    'l2': lista_label_l2,
    'l3': lista_label_l3,
    'l4': lista_label_l4
}

In [32]:
import pandas as pd

In [45]:
df_alunos_listas = pd.DataFrame(dict_alunos_notas)
df_alunos_listas['soma_listas'] = df_alunos_listas['l1'] + df_alunos_listas['l2'] + df_alunos_listas['l3'] + df_alunos_listas['l4']
df_alunos_listas

,matricula,nome,l1,l2,l3,l4,soma_listas
0,20229038498,ALAN NUNES VELOSO NOGUEIRA,1,1,1,1,4
1,20229047951,ALLYSON KAWA SANTOS DA SILVA,1,1,1,1,4
2,20199041487,ARTHUR RABELO DE CARVALHO,0,0,0,0,0
3,20239019825,ARTUR VINICIUS SILVA SOUSA,1,1,1,1,4
4,20239005113,EMMANUEL DAVID DE ALMEIDA SANTOS,1,1,1,1,4
5,20239005033,FRANCISCO RAFAEL MENESES GONCALVES,1,1,1,1,4
6,20209069998,HILDA HELENA SILVA ALENCAR LUZ,1,1,1,1,4
7,20239006890,JOAO CARLOS FELIX DA COSTA,0,1,0,1,2
8,20239005392,JOSE BERNARDO ALVES FORTES,1,1,1,1,4
9,20229005325,JOSE FRANCISCO FERREIRA DOS SANTOS,0,1,1,1,3
10,20229037810,LETICIA LOPES DE OLIVEIRA,1,1,1,1,4
11,20239005285,LUIS HENRIQUE DA SILVA MONTEIRO,1,1,1,1,4
12,20239006390,MIGUEL ANJO MACIEL MEDEIROS,1,1,0,1,3
13,20189037417,MILENA ARYSA BRITO PORTELA,1,1,1,1,4
14,20229052693,NAASSON CALDAS DOS SANTOS,1,1,1,1,4
15,20239005436,NICOLE ELLEN MAGALHAES SILVESTRE,1,1,1,1,4

In [46]:
df_alunos_listas.to_excel('alunos_lp_t2.xlsx', index=False)