<a href="https://colab.research.google.com/github/armandossrecife/teste/blob/main/listas_lp_t1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/alunos_t1lp.txt

--2023-12-08 14:33:37--  https://raw.githubusercontent.com/armandossrecife/teste/main/alunos_t1lp.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 757 [text/plain]
Saving to: ‘alunos_t1lp.txt’

alunos_t1lp.txt     100%[===================>]     757  --.-KB/s    in 0s

2023-12-08 14:33:38 (70.1 MB/s) - ‘alunos_t1lp.txt’ saved [757/757]

In [36]:
lista_alunos = []
with open('alunos_t1lp.txt', mode='r') as f_alunos:
  for line in f_alunos:
    line = line.strip()
    aluno_temp = line.split(',')
    matricula = aluno_temp[0]
    nome = aluno_temp[1]
    aluno = matricula, nome
    lista_alunos.append(aluno)

In [37]:
for each in lista_alunos:
  print(each)

('20239005810', 'ALEX SOARES NUNES')
('20239017929', 'ANA VALERIA SILVA COELHO')
('20239017230', 'ANTONIO ENZO FERREIRA DO NASCIMENTO')
('20239006470', 'ARTUR PERES MENESES')
('20239014248', 'BERNARDO DE CARVALHO CAVALCANTE')
('20239009346', 'CARLOS EMANUEL FERREIRA LIMA FORTALEZA')
('20239006326', 'DEBORA BARROS DO NASCIMENTO')
('20239019360', 'DIOGO DE OLIVEIRA RIBEIRO BRITO')
('20239006012', 'GABRIEL LOPES BASTOS')
('20239006881', 'JOAO FELIPE GARCIA MORAIS')
('20239009319', 'JOAO GABRIEL FREITAS CAVALCANTE')
('20239005552', 'JOAO VICTOR CRUZ SILVA')
('20239017849', 'JOSE VICTOR VIEIRA DE OLIVEIRA')
('20229005361', 'JUAN KASSIO DE ALBUQUERQUE LEITE MELO')
('20239017956', 'LUIS FELIPE FERREIRA DE CASTRO')
('20239005632', 'PEDRO EMANUEL MOREIRA CARVALHO')
('20239005964', 'RAFAEL VAZ ROCHA')
('20239006550', 'SUZANA PEREIRA SILVA')
('20239006658', 'THALYS YAGO SILVA NASCIMENTO')

In [38]:
len(lista_alunos)

19

In [39]:
dict_alunos = {}
for each in lista_alunos:
  dict_alunos[each[0]] = each[1]

In [40]:
len(dict_alunos)

19

In [41]:
dict_alunos

{'20239005810': 'ALEX SOARES NUNES',
 '20239017929': 'ANA VALERIA SILVA COELHO',
 '20239017230': 'ANTONIO ENZO FERREIRA DO NASCIMENTO',
 '20239006470': 'ARTUR PERES MENESES',
 '20239014248': 'BERNARDO DE CARVALHO CAVALCANTE',
 '20239009346': 'CARLOS EMANUEL FERREIRA LIMA FORTALEZA',
 '20239006326': 'DEBORA BARROS DO NASCIMENTO',
 '20239019360': 'DIOGO DE OLIVEIRA RIBEIRO BRITO',
 '20239006012': 'GABRIEL LOPES BASTOS',
 '20239006881': 'JOAO FELIPE GARCIA MORAIS',
 '20239009319': 'JOAO GABRIEL FREITAS CAVALCANTE',
 '20239005552': 'JOAO VICTOR CRUZ SILVA',
 '20239017849': 'JOSE VICTOR VIEIRA DE OLIVEIRA',
 '20229005361': 'JUAN KASSIO DE ALBUQUERQUE LEITE MELO',
 '20239017956': 'LUIS FELIPE FERREIRA DE CASTRO',
 '20239005632': 'PEDRO EMANUEL MOREIRA CARVALHO',
 '20239005964': 'RAFAEL VAZ ROCHA',
 '20239006550': 'SUZANA PEREIRA SILVA',
 '20239006658': 'THALYS YAGO SILVA NASCIMENTO'}

In [42]:
lista1_nomes = []
lista2_nomes = []
lista3_nomes = []
lista4_nomes = []

In [43]:
lista_label_matricula, lista_label_nome, lista_label_l1, lista_label_l2, lista_label_l3, lista_label_l4 = list(), list(), list(), list(), list(), list()

In [44]:
for k, v in dict_alunos.items():
  lista_label_matricula.append(k)
  lista_label_nome.append(v)

In [45]:
dict_alunos_notas = {}

In [46]:
for k, v in dict_alunos.items():
  if v in lista1_nomes:
    lista_label_l1.append(1)
  else:
    lista_label_l1.append(0)

  if v in lista2_nomes:
    lista_label_l2.append(1)
  else:
    lista_label_l2.append(0)

  if v in lista3_nomes:
    lista_label_l3.append(1)
  else:
    lista_label_l3.append(0)

  if v in lista4_nomes:
    lista_label_l4.append(1)
  else:
    lista_label_l4.append(0)

In [47]:
dict_alunos_notas = {
    'matricula': lista_label_matricula,
    'nome': lista_label_nome,
    'l1': lista_label_l1,
    'l2': lista_label_l2,
    'l3': lista_label_l3,
    'l4': lista_label_l4
}

In [48]:
dict_alunos_notas

{'matricula': ['20239005810',
  '20239017929',
  '20239017230',
  '20239006470',
  '20239014248',
  '20239009346',
  '20239006326',
  '20239019360',
  '20239006012',
  '20239006881',
  '20239009319',
  '20239005552',
  '20239017849',
  '20229005361',
  '20239017956',
  '20239005632',
  '20239005964',
  '20239006550',
  '20239006658'],
 'nome': ['ALEX SOARES NUNES',
  'ANA VALERIA SILVA COELHO',
  'ANTONIO ENZO FERREIRA DO NASCIMENTO',
  'ARTUR PERES MENESES',
  'BERNARDO DE CARVALHO CAVALCANTE',
  'CARLOS EMANUEL FERREIRA LIMA FORTALEZA',
  'DEBORA BARROS DO NASCIMENTO',
  'DIOGO DE OLIVEIRA RIBEIRO BRITO',
  'GABRIEL LOPES BASTOS',
  'JOAO FELIPE GARCIA MORAIS',
  'JOAO GABRIEL FREITAS CAVALCANTE',
  'JOAO VICTOR CRUZ SILVA',
  'JOSE VICTOR VIEIRA DE OLIVEIRA',
  'JUAN KASSIO DE ALBUQUERQUE LEITE MELO',
  'LUIS FELIPE FERREIRA DE CASTRO',
  'PEDRO EMANUEL MOREIRA CARVALHO',
  'RAFAEL VAZ ROCHA',
  'SUZANA PEREIRA SILVA',
  'THALYS YAGO SILVA NASCIMENTO'],
 'l1': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'l2': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'l3': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'l4': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}

In [49]:
import pandas as pd

In [50]:
df_alunos_listas = pd.DataFrame(dict_alunos_notas)
df_alunos_listas['soma_listas'] = df_alunos_listas['l1'] + df_alunos_listas['l2'] + df_alunos_listas['l3'] + df_alunos_listas['l3']
df_alunos_listas

,matricula,nome,l1,l2,l3,l4,soma_listas
0,20239005810,ALEX SOARES NUNES,0,0,0,0,0
1,20239017929,ANA VALERIA SILVA COELHO,0,0,0,0,0
2,20239017230,ANTONIO ENZO FERREIRA DO NASCIMENTO,0,0,0,0,0
3,20239006470,ARTUR PERES MENESES,0,0,0,0,0
4,20239014248,BERNARDO DE CARVALHO CAVALCANTE,0,0,0,0,0
5,20239009346,CARLOS EMANUEL FERREIRA LIMA FORTALEZA,0,0,0,0,0
6,20239006326,DEBORA BARROS DO NASCIMENTO,0,0,0,0,0
7,20239019360,DIOGO DE OLIVEIRA RIBEIRO BRITO,0,0,0,0,0
8,20239006012,GABRIEL LOPES BASTOS,0,0,0,0,0
9,20239006881,JOAO FELIPE GARCIA MORAIS,0,0,0,0,0
10,20239009319,JOAO GABRIEL FREITAS CAVALCANTE,0,0,0,0,0
11,20239005552,JOAO VICTOR CRUZ SILVA,0,0,0,0,0
12,20239017849,JOSE VICTOR VIEIRA DE OLIVEIRA,0,0,0,0,0
13,20229005361,JUAN KASSIO DE ALBUQUERQUE LEITE MELO,0,0,0,0,0
14,20239017956,LUIS FELIPE FERREIRA DE CASTRO,0,0,0,0,0
15,20239005632,PEDRO EMANUEL MOREIRA CARVALHO,0,0,0,0,0
16,20239005964,RAFAEL VAZ ROCHA,0,0,0,0,0
17,20239006550,SUZANA PEREIRA SILVA,0,0,0,0,0
18,20239006658,THALYS YAGO SILVA NASCIMENTO,0,0,0,0,0

In [51]:
df_alunos_listas.to_excel('alunos_lp_t1.xlsx', index=False)