<a href="https://colab.research.google.com/github/armandossrecife/teste/blob/main/testes_estatistico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Primeiro, vamos criar uma amostra de dados usando a biblioteca NumPy:

In [ ]:
import numpy as np

amostra = np.random.normal(10, 2, 100) # Criando amostra com média 10 e desvio padrão 2

In [ ]:
amostra

array([ 8.49726097, 11.41175116, 10.71732716,  7.31121807, 10.52830317,
        6.15800876,  7.63000046, 11.38725099,  9.32156553, 12.33458307,
        7.33301717, 11.29874571,  8.86850407, 10.0301843 , 12.23835876,
        9.16067716, 11.49108687, 11.12818987,  9.5456087 , 10.1271006 ,
       10.74809446,  7.63520061,  8.17500296,  8.88152877, 13.31249677,
        7.28640634, 10.21629639,  6.05424963, 10.62416324,  9.6766374 ,
       11.584183  , 13.31464918, 10.47272874, 12.33082953, 12.20624454,
       11.54410008,  8.81729162,  9.17892849,  7.19046798, 12.67690356,
       10.65310599,  9.98066508, 10.28886284,  7.66766491, 10.15018694,
       10.37115602,  5.32712791, 14.79096267, 12.19312657, 11.22219028,
        8.37909913,  7.97884988, 12.51166658,  9.95693871,  7.19425562,
        6.07846655, 10.21811063,  9.66364193, 12.93354008, 10.39158636,
        6.58089466, 10.61340505, 12.96078376, 11.37124968, 13.36428355,
       12.44036459,  5.169395  , 13.55072223,  9.76220279, 13.07029706,
       11.62665398,  8.6157421 ,  9.26537529,  7.8197797 , 12.79089441,
       11.31135608, 11.13087273,  7.14388665, 13.15257742,  7.28515063,
       11.21706186,  9.92809354, 10.15241168,  3.36612109,  7.86312393,
        8.76746957,  9.018993  ,  9.03899412, 11.57296239,  8.79295047,
       10.53651308, 11.59462944,  9.85321274,  9.56624085, 13.06501641,
        6.86031696,  9.288593  , 12.79625262,  8.37154166, 12.73401358])

# Agora, vamos definir nossa hipótese nula e hipótese alternativa:

## Hipótese nula (H0): A média da amostra é igual a 9.
## Hipótese alternativa (HA): A média da amostra é diferente de 9.

In [ ]:
#H0: mu = 9
#HA: mu != 9

False

# Em seguida, vamos calcular a estatística do teste usando a biblioteca statsmodels:

In [ ]:
from statsmodels.stats.weightstats import ztest

valor_p, estatistica_teste = ztest(x1=amostra, value=9)

In [ ]:
print(f"valor_p: {valor_p}")
print(f"estatistica_teste: {estatistica_teste}")

valor_p: 4.52892601476008
estatistica_teste: 5.928425142320701e-06

O resultado do teste será armazenado em valor_p e estatistica_teste. O valor-p é a probabilidade de obter a estatística de teste se a hipótese nula for verdadeira. Se o valor-p for menor que o nível de significância (geralmente 0,05), rejeitamos a hipótese nula e aceitamos a hipótese alternativa. A estatística do teste é usada para calcular o valor-p e também pode ser usada para calcular o intervalo de confiança.

# Podemos também usar a biblioteca Pandas para realizar um teste t para duas amostras independentes. Por exemplo, vamos comparar as médias de duas amostras de notas de alunos:

In [ ]:
import pandas as pd

notas_a = [7, 6, 8, 7, 9, 6, 8, 7, 7, 8]
notas_b = [6, 5, 7, 8, 7, 6, 8, 7, 8, 6]

df = pd.DataFrame({'notas_a': notas_a, 'notas_b': notas_b})
df

   notas_a  notas_b
0        7        6
1        6        5
2        8        7
3        7        8
4        9        7
5        6        6
6        8        8
7        7        7
8        7        8
9        8        6

In [ ]:
# Realizando teste t para duas amostras independentes
from scipy.stats import ttest_ind

valor_p, estatistica_teste = ttest_ind(df['notas_a'], df['notas_b'])

print(f"valor_p: {valor_p}")
print(f"estatistica_teste: {estatistica_teste}")

valor_p: 1.1274690420042432
estatistica_teste: 0.27434984935319634