<a href="https://colab.research.google.com/github/armandossrecife/teste/blob/main/lp/correcao_av1_lp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Carrega arquivos

In [35]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/alunoslp.txt

--2023-02-02 14:49:10--  https://raw.githubusercontent.com/armandossrecife/teste/main/alunoslp.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1865 (1.8K) [text/plain]
Saving to: ‘alunoslp.txt.1’

alunoslp.txt.1      100%[===================>]   1.82K  --.-KB/s    in 0s

2023-02-02 14:49:10 (21.4 MB/s) - ‘alunoslp.txt.1’ saved [1865/1865]

In [67]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/l1.txt

--2023-02-02 17:05:43--  https://raw.githubusercontent.com/armandossrecife/teste/main/l1.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1148 (1.1K) [text/plain]
Saving to: ‘l1.txt.1’

l1.txt.1            100%[===================>]   1.12K  --.-KB/s    in 0s

2023-02-02 17:05:43 (41.3 MB/s) - ‘l1.txt.1’ saved [1148/1148]

In [68]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/l2.txt

--2023-02-02 17:05:52--  https://raw.githubusercontent.com/armandossrecife/teste/main/l2.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 911 [text/plain]
Saving to: ‘l2.txt.1’

l2.txt.1            100%[===================>]     911  --.-KB/s    in 0s

2023-02-02 17:05:52 (56.5 MB/s) - ‘l2.txt.1’ saved [911/911]

In [69]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/l3.txt

--2023-02-02 17:06:01--  https://raw.githubusercontent.com/armandossrecife/teste/main/l3.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1016 [text/plain]
Saving to: ‘l3.txt.1’

l3.txt.1            100%[===================>]    1016  --.-KB/s    in 0s

2023-02-02 17:06:01 (49.5 MB/s) - ‘l3.txt.1’ saved [1016/1016]

In [70]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/l4.txt

--2023-02-02 17:06:08--  https://raw.githubusercontent.com/armandossrecife/teste/main/l4.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1122 (1.1K) [text/plain]
Saving to: ‘l4.txt.1’

l4.txt.1            100%[===================>]   1.10K  --.-KB/s    in 0s

2023-02-02 17:06:08 (70.4 MB/s) - ‘l4.txt.1’ saved [1122/1122]

In [71]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/alunos_av1_corrigido.csv

--2023-02-02 17:06:49--  https://raw.githubusercontent.com/armandossrecife/teste/main/alunos_av1_corrigido.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2023 (2.0K) [text/plain]
Saving to: ‘alunos_av1_corrigido.csv’

alunos_av1_corrigid 100%[===================>]   1.98K  --.-KB/s    in 0s

2023-02-02 17:06:50 (36.2 MB/s) - ‘alunos_av1_corrigido.csv’ saved [2023/2023]

# Faz a análise...

In [44]:
def carrega_alunos(arquivo):
  l1 = list()
  try:
    f_l1 = open(arquivo, 'r')
    for linha in f_l1:
      l1.append(linha.strip())
    f_l1.close() 
  except Exception as ex: 
    print(f'Erro ao carregar arquivo {arquivo}: {str(ex)}')
  return l1

In [36]:
l_alunos_lp = []
f_alunos_lp = open('alunoslp.txt')
for linha in f_alunos_lp:
  l_alunos_lp.append(linha.strip())
f_alunos_lp.close()

f_alunos_csv = open('alunos_lp.csv', 'w')
f_alunos_csv.write('id, matricula, nome')
f_alunos_csv.write('\n')
l_nome_completo = list()
for each in l_alunos_lp:
  each = each.split(' ')
  id = each[0]
  matricula = each[1]
  nome = each[2:]
  nome_completo = " ".join(str(e) for e in nome)
  l_nome_completo.append(nome_completo)
  nova_linha = id + ',' + matricula + ',' + nome_completo + '\n'
  f_alunos_csv.write(nova_linha)
f_alunos_csv.close()

lista1 = carrega_alunos(arquivo='l1.txt')
lista2 = carrega_alunos(arquivo='l2.txt')
lista3 = carrega_alunos(arquivo='l3.txt')
lista4 = carrega_alunos(arquivo='l4.txt')

print(f'Total de alunos: {len(l_nome_completo)}')
print(f'Resolução - l1: {len(lista1)}, l2: {len(lista2)}, l3: {len(lista3)}, l4: {len(lista4)}')

In [ ]:
fez_l1, fez_l2, fez_l3, fez_l4 = ([], [], [], [])
for nome in l_nome_completo:
  if nome in lista1:  
    fez_l1.append(1)
  else:
    fez_l1.append(0)
  if nome in lista2:  
    fez_l2.append(1)
  else:
    fez_l2.append(0)
  if nome in lista3:  
    fez_l3.append(1)
  else:
    fez_l3.append(0)
  if nome in lista4:  
    fez_l4.append(1)
  else:
    fez_l4.append(0)

In [57]:
dic_alunos_lp = {
    'nome':l_nome_completo,
    'fez_l1':fez_l1, 
    'fez_l2':fez_l2, 
    'fez_l3':fez_l3, 
    'fez_l4':fez_l4, 
}

In [58]:
import pandas as pd

In [59]:
df_alunos_lp_av1 = pd.DataFrame(dic_alunos_lp)

,nome,fez_l1,fez_l2,fez_l3,fez_l4
0,ANA ALLYCIA FERREIRA ROCHA,1,1,1,1
1,ANA MARIA FERNANDES TAVARES,1,1,0,1
2,ARIELLY CRISTINY RODRIGUES DOS SANTOS,0,1,0,1
3,ARTHUR RABELO DE CARVALHO,0,0,0,0
4,AVERINALDO OSCAR DA CRUZ JUNIOR,1,1,1,1
5,BENJAMIM DE PINHO SABINO,1,1,1,1
6,CAIO BURTON ALVES ALENCAR PEREIRA,1,1,1,1
7,CARLOS DANIEL PORTELA SOARES DA SILVA ROCHA,1,1,1,1
8,CLAUDIO MARCIO DE OLIVEIRA LEAL FILHO,1,1,1,1
9,DAVI DO NASCIMENTO SANTOS,1,1,1,1
10,DELPHINO LUCIANI DE PAULA ARAUJO FILHO,1,1,1,1
11,DOUGLAS CAVALCANTE MENEZES DE ARAUJO,1,0,1,1
12,EMERY FREITAS MORICONI,1,1,1,1
13,EMMANUEL MOTA GUIMARAES,1,1,1,1
14,ERYCK KAWA PEREIRA TORRES,1,1,1,1
15,GABRIEL ANGELO BARROS DE ARAUJO,1,0,1,1
16,GUILBERTH DE SOUSA BRUNO,1,1,1,1
17,GUILHERME MANCINI DE SOUSA BARROSO,1,1,1,1
18,GUILHERME OLIVEIRA DESIDERIO,1,1,1,1
19,GUSTAVO AYALA DOS SANTOS SOUSA,1,0,1,1
20,HILDA HELENA SILVA ALENCAR LUZ,1,0,0,0
21,ISAAC SILVA SANTOS RAMOS,1,1,0,1
22,IURY FRANCISCO DE MENEZES MANICOBA FILHO,1,1,1,1
23,JOAO GABRIEL LOPES DA PAZ,1,1,1,1
24,JOSE FERNANDO FERREIRA DOS SANTOS,1,0,1,1
25,KAUA MARQUES DO NASCIMENTO,1,1,1,1
26,KENJI BENTO FALCAO,0,0,0,0
27,LAILA TEIXEIRA LOPES,1,1,1,1
28,LEONIDAS PEREIRA DE ABREU,0,0,0,0
29,LUCAS ALMEIDA MONTEIRO,1,1,1,1
30,LUCAS HERLON DOS SANTOS MOREIRA CUNHA,1,1,1,1
31,LUIS ENILTON LUZ OLIVEIRA,1,0,1,1
32,MARIA DO ROSARIO DE FATIMA MARTINS FERREIRA,0,0,0,0
33,MARIA EDUARDA MENDES LEITE,1,1,1,1
34,MATHEUS DO VALE ALENCAR,1,1,1,1
35,MAYRON FERRY SOUZA,1,0,0,0
36,PAULO HENRIQUE RODRIGUES DE ARAUJO,1,1,1,1
37,RAFFAEL FERREIRA FERNANDES,1,1,1,1
38,SAMIA ISABEL DA ROCHA GONCALVES,1,0,0,1
39,THALYSSON ARAUJO MELO,1,1,1,1
40,WESLEY DE SOUSA COUTINHO,1,1,1,1
41,YGOR FRANCISCO DE CARVALHO MORAIS,1,1,1,1

In [75]:
df_alunos_av1 = pd.read_csv('alunos_av1_corrigido.csv', sep=';')
df_alunos_av1

,id,nome,fez_l1,fez_l2,fez_l3,fez_l4,soma,av1
0,0,ANA ALLYCIA FERREIRA ROCHA,1,1,1,1,4,"9,0"
1,1,ANA MARIA FERNANDES TAVARES,1,1,0,1,3,"7,5"
2,2,ARIELLY CRISTINY RODRIGUES DOS SANTOS,0,1,0,1,2,5
3,3,ARTHUR RABELO DE CARVALHO,0,0,0,0,0,0
4,4,AVERINALDO OSCAR DA CRUZ JUNIOR,1,1,1,1,4,"9,2"
5,5,BENJAMIM DE PINHO SABINO,1,1,1,1,4,"9,2"
6,6,CAIO BURTON ALVES ALENCAR PEREIRA,1,1,1,1,4,"9,2"
7,7,CARLOS DANIEL PORTELA SOARES DA SILVA ROCHA,1,1,1,1,4,"9,3"
8,8,CLAUDIO MARCIO DE OLIVEIRA LEAL FILHO,1,1,1,1,4,"9,4"
9,9,DAVI DO NASCIMENTO SANTOS,1,1,1,1,4,"9,2"
10,10,DELPHINO LUCIANI DE PAULA ARAUJO FILHO,1,1,1,1,4,"8,0"
11,11,DOUGLAS CAVALCANTE MENEZES DE ARAUJO,1,0,1,1,3,"7,5"
12,12,EMERY FREITAS MORICONI,1,1,1,1,4,"9,0"
13,13,EMMANUEL MOTA GUIMARAES,1,1,1,1,4,"9,0"
14,14,ERYCK KAWA PEREIRA TORRES,1,1,1,1,4,"9,1"
15,15,GABRIEL ANGELO BARROS DE ARAUJO,1,0,1,1,3,"7,5"
16,16,GUILBERTH DE SOUSA BRUNO,1,1,1,1,4,"9,0"
17,17,GUILHERME MANCINI DE SOUSA BARROSO,1,1,1,1,4,"9,4"
18,18,GUILHERME OLIVEIRA DESIDERIO,1,1,1,1,4,"9,2"
19,19,GUSTAVO AYALA DOS SANTOS SOUSA,1,0,1,1,3,"7,5"
20,20,HILDA HELENA SILVA ALENCAR LUZ,1,0,0,0,1,"2,5"
21,21,ISAAC SILVA SANTOS RAMOS,1,1,0,1,3,"7,5"
22,22,IURY FRANCISCO DE MENEZES MANICOBA FILHO,1,1,1,1,4,"9,1"
23,23,JOAO GABRIEL LOPES DA PAZ,1,1,1,1,4,"9,4"
24,24,JOSE FERNANDO FERREIRA DOS SANTOS,1,0,1,1,3,"7,5"
25,25,KAUA MARQUES DO NASCIMENTO,1,1,1,1,4,"9,2"
26,26,KENJI BENTO FALCAO,0,0,0,0,0,0
27,27,LAILA TEIXEIRA LOPES,1,1,1,1,4,"8,0"
28,28,LEONIDAS PEREIRA DE ABREU,0,0,0,0,0,0
29,29,LUCAS ALMEIDA MONTEIRO,1,1,1,1,4,"9,2"
30,30,LUCAS HERLON DOS SANTOS MOREIRA CUNHA,1,1,1,1,4,"9,3"
31,31,LUIS ENILTON LUZ OLIVEIRA,1,0,1,1,3,"7,5"
32,32,MARIA DO ROSARIO DE FATIMA MARTINS FERREIRA,0,0,0,0,0,0
33,33,MARIA EDUARDA MENDES LEITE,1,1,1,1,4,"9,4"
34,34,MATHEUS DO VALE ALENCAR,1,1,1,1,4,"9,6"
35,35,MAYRON FERRY SOUZA,1,0,0,0,1,"2,5"
36,36,PAULO HENRIQUE RODRIGUES DE ARAUJO,1,1,1,1,4,"9,3"
37,37,RAFFAEL FERREIRA FERNANDES,1,1,1,1,4,"9,5"
38,38,SAMIA ISABEL DA ROCHA GONCALVES,1,0,0,1,2,5
39,39,THALYSSON ARAUJO MELO,1,1,1,1,4,"9,2"
40,40,WESLEY DE SOUSA COUTINHO,1,1,1,1,4,"9,4"
41,41,YGOR FRANCISCO DE CARVALHO MORAIS,1,1,1,1,4,"9,0"